.paragraph--type--bp-accordion {
    .paragraph__column {
        .panel-default {
            border-color: #fff;
        }
    }
}
.paragraph.paragraph--type--bp-accordion .panel-heading a.display:after {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.paragraph.paragraph--type--bp-accordion .panel-heading a.display:after {
    position: relative;
    top: 10px;
}
.paragraph.paragraph--type--bp-accordion .panel-heading a[aria-expanded="false"].display:after {
    content: "\002b";
    top: 50%;
    position: relative;
    /*transform: translateY(-50%);*/
}
.paragraph.paragraph--type--bp-accordion .panel-heading a[aria-expanded="true"].display:after {
    width: 22px;
    height: 6px;
    content: "";
    background-color: $dark-blue;
    border-radius: 1px;
    position: relative;
    top: 20px;
    right: 2px;
}
[id*='collapse-accordion'] {
    overflow: hidden;
    display: block;
    border-bottom: 2px solid #dde0df;
    margin-bottom: 10px;
}
.collapse {
    height: 1px;
}
.collapse.in {
    height: auto;
}
.panel-default>.panel-heading {
    background-color: transparent;
    border: none;
}
.panel {
    box-shadow: none;
}
.hide-collapse {
    cursor: default;
    &::after {
        display: none;
    }
}
.card-block .style-list ul {
    margin-left: 1px;
}
//Dynamic Accordion Background Color
.paragraph.paragraph--type--bp-accordion.paragraph--view-mode--default.paragraph--color.paragraph--color--rgba-grey-slight {
    .panel-default>.panel-heading {
        background-color: $slight-gray !important;
        border: none;
    }
    .paragraph--type--bp-accordion .paragraph__column .panel-default {
        border-color: $slight-gray;
    }
    .panel {
        border: none;
    }
    [id*='collapse-accordion'] {
        background: $slight-gray;
    }
}