/* Button Layout P-type */
.button-layout {
  .paragraph {
    display: inline-block;
  }
  width: 100%;
  display: flex;

  //flex-grow: 1;
  justify-content: center;
  align-items: center;
  .paragraph--type-button1 {
    padding: 5% 5%;
    flex-basis: 25%;
    //justify-content: center;
   // align-items: center;


  }
}


.paragraph--type-button1 {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

@media (max-width: $xwide) {
  .button-layout {
    .paragraph {
      display: inline-block;
    }

    display: flex;
    flex-wrap: wrap;
    //flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    .paragraph--type-button1 {
      padding: 5% 5%;
      flex-basis: 25%;
      justify-content: center;
      align-items: center;


    }
  }

}
