/* Carousel base class */

/* Declare heights because of positioning of img element */

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-control {
    position: absolute;
    color: white;
    padding: 100px 50px;
    height: 100px;
    width: 50px;
    &.left, &.right {
        position: absolute;
        top: calc(-5vw + 134px);
        background-image: none;
        background: $dark-blue;
        margin: 0px;
        opacity: 1;
        a {
            cursor: pointer;
        }
    }
    &.right {
        right: 0px;
    }
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
