.storycontainer {
    position: relative;
    font-family: $font-bold;
}
.storycontainer .text-block-video a.video-link {
    background: url(../images/video.png) no-repeat center;
    width: 95px;
    height: 95px;
    display: block;
}
.storycontainer .text-block-video .video-link:hover {
    background: url(../images/video_rollover.png) no-repeat center;
    width: 95px;
    height: 95px;
    display: block;
}
.storycontainer .text-block-video {
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 164px;
    padding: 20px;
}
.storycontainer .story-txt-top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    color: #FFFFFF;
    padding: 20px;
    font-size: 160px;
    line-height: 164px;
    color: #fff;
    max-width: 100%;
}
.storycontainer .story-txt-middle {
    position: absolute;
    font-size: 120px;
    top: 28%;
    max-width: 74%;
    line-height: 112px;
    text-align: center;
    width: 74%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
/*  Story Board css ends    */

.quote-txt {
    font-family: $font-medium;
    font-size: 32pt;
    text-align: center;
    color: $dark-gray;
    line-height: 38pt; //margin: 0 10%;
}
.sub-quote-wrap {
    position: relative;
    text-align: center;
}
.sub-quote {
    font-family: $font-bold;
    font-size: 18pt;
    text-align: center;
    color: $dark-gray; //line-height: 12pt;
    position: relative; //margin-top: -2%;
    .col-sm-4 {
        //max-width: 150px;
        //width: 0px;
        padding: 0px 0px;
        padding-left: 0px;
    }
    font-family: $font-bold;
    font-size: 18pt;
    text-align: center;
    color: $dark-gray; //line-height: 12pt;
    position: relative; //margin-top: -2%;
    .col-sm-4 {
        //max-width: 150px;
        //width: 0px;
        padding: 0px 0px;
        padding-left: 0px;
    }
}
.sub-quote-spacing {
    margin: 10px 0 60px 0;
}
.sub-quote-two {
    font-family: $font-bold;
    font-size: 18pt;
    text-align: center;
    color: $dark-gray;
    line-height: 12pt;
    .col-sm-4 {
        //max-width: 150px;
        padding: 0px 0px;
        padding-left: 0px;
    }
}
.sub-quote-three {
    font-family: $font-bold;
    font-size: 18pt;
    text-align: center;
    color: $dark-gray;
    line-height: 12pt;
    .col-sm-4 {
        //max-width: 150px;
        padding: 0px 0px;
        padding-left: 0px;
    }
}
//Removing Padding on Story Carousel - FTMBA Page
#block-bootstrap-simon-views-block-story-carousel-block-1-2 > div {
 // margin-bottom: unset;
}
body > div > div.structured-content.container > div > div > div > div:nth-child(2) > div:nth-child(14) > div > div {
  //padding-bottom: unset;
}

@media only screen and (max-width:768px) {
    .quote-txt {
        font-size: 22pt;
        line-height: 26pt;

    }
  .sub-quote-spacing {
    margin: 10px 0 60px 0;

  }
  .sub-quote {
    text-align: left !important;
  }
  .field--name-field-quote {
    text-align: left;
  }


}
blockquote {
    font-family: $font-medium;
    color: $dark-gray;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 48pt;
    line-height: 52pt;
    border-left: 5px solid #eeeeee;
    text-align: center;
}
p {
    a {
        font-color: $light-blue;
    }
}
@media (max-width: xs) {
    blockquote {
        font-family: $font-medium;
        color: $dark-gray;
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 22pt;
        line-height: 26pt;
        border-left: 5px solid #eeeeee;
        text-align: left;
    }
}
p {
    a {
        color: $light-blue;
    } //max-width: $xwide;
    font-family: $font-medium;
    font-size: 16pt;
    line-height: 21pt;
    color: $dark-gray;
    position: relative; //left: 10%;
    //right: 10%;
}
@media (max-width: $xsm) {
    p {
        font-family: $font-medium;
        font-size: 16pt;
        line-height: 22pt;
        color: $dark-gray;
        text-align: left;
    }
}
/*    Action Bar Buttons CSS Starts     */

.action-bar-buttons a {
    min-width: 240px;
    min-height: 50px;
    line-height: 4.5em;
    background-color: #ffbc00;
    padding: 10px;
    font-family: $font-bold;
    font-size: 20pt;
    text-align: center;
    border-color: #eea236;
    color: $dark-blue;
    text-decoration: none;
    /*float: left;*/
    margin: 0 10px;
}
@media only screen and (max-width:768px) {
    .action-bar-buttons a {
        font-size: 16pt;
        min-height: 282px;
        min-width: 46px;
    }
}
.action-bar-buttons a:hover {
    color: #fff;
    background-color: #eea236;
    border-color: #ffbc00;
}
/*    Action Bar Buttons CSS End     */

.div-conatainer ul {
    list-style-type: none;
    /* no default bullets */
}
.div-conatainer ol {
    list-style-type: decimal;
    /* no default bullets */
    margin-left: 20px;
    /*text-indent: 20px;*/
}
.div-conatainer ul li {
    font-family: Arial;
    color: #4D6463;
    text-indent: 20px;
    /*font-size: ;*/
}
.div-conatainer ul li:before {
    /* the custom styled bullets */
    background-color: $dark-blue;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
}
.div-conatainer ol li {
    font-family: $font-bold;
    color: #4D6463;
    /*font-size: ;*/
    text-indent: 20px;
}
.div-conatainer ol li:before {
    /* the custom styled bullets */
    /*    background-color: $dark-blue;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 2px;*/
}
/*Story carousel css starts*/

/*
.slider-body {
    position: relative;
}
.slider-innerbody {
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-weight: bold;
    background: #000;
    opacity: 0.8;
    width: 360px;
}
.slider-innerbody h4{
    color: #fff;
}

.slider-body a.formoreoption {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    top: 48%;
    position: relative;
    left: 18px;
}
*/

.slider-formoreoption {
    height: 100%;
    width: 100%;
    background: #356BAC;
    /* opacity: 0.8;*/
    padding-top: 93%;
    min-height: 889px !important;

}
.slider-formoreoption, .slider-body {
    height: 100%;
}
a.formoreoption {
    height: 100%;
    vertical-align: middle;
    padding-left: 10px;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}
.slider-innerbody {
    position: absolute !important;
    bottom: 0px;
    height: 300px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(rgba(0, 0, 0, 0), #000);
    opacity: 1 !important;
    margin: 0px;
    width: 375px;
}
.slider-innerbody h2 {
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    max-width: 285px;
    margin-bottom: 4px;
    text-align: left;
    padding: 0px 12px;
}
.slider-innerbody h4 {
    font-size: 18px;
    color: $gold;
    text-align: left;
    padding: 0px 12px;
}
.sliderbody .carousel-control .glyphicon-chevron-right {
    /* margin-left: -10px; */
    right: 10px;
    font-size: 42px;
    background: #23527c;
    width: 60px;
    height: 80px;
    line-height: 80px;
}
.story-carouser-unique .container {
    width: 100%;
    max-width: 100%;
}
// .row{
//     width:calc(100% + 80px - 50px)!important;
// }
.slider-body {
    margin-right: -10px;
    max-width: 500px;
}

.paragraph--id--2082 {
         .paragraph__column {
             padding: 0;
         }
         .gallery {
             li {
                 img {
                     height: auto;
                     max-width: 500px;
                     display: block;
                     width: 100%;
                 }
             }
         }
         .lslide {
             max-width: 500px;
         }
         .slider-innerbody {
             width: 100%;
             max-width: 500px;
             padding: 0 2%;

             h2 {
                 max-width: 500px;
                 width: 100%;
             }
         }
     }

    .paragraph {
        .paragraph__column {
            padding: 0;
        }
        .gallery {
            li {
                img {
                    height: auto;
                    max-width: 500px;
                    display: block;
                    width: 100%;
                }
            }
        }
    .lslide {
        max-width: 500px;
    }
    .slider-innerbody {
        width: 100%;
        max-width: 500px;
        padding: 0 2%;

        h2 {
            max-width: 500px;
            width: 100%;
        }
    }
}

@media only screen and (max-width:768px) {
    .paragraph--id--2082 {
        .paragraph__column {
            padding: 0;
        }
        .gallery {
            li {
                img {
                    height: auto;
                    max-width: 500px;
                    max-height: 500px;
                }
            }
        }

    }

    .paragraph {
        .paragraph__column {
            padding: 0;
        }
        .gallery {
            li {
                img {
                    height: auto;
                    max-width: 500px;
                    max-height: 500px;

                }
            }
        }

    }

    .slider-innerbody {
        position: relative;
        bottom: 0px;
        color: #ffffff;
        font-weight: bold;
        background: linear-gradient(rgba(0, 0, 0, 0), #000);
        /* opacity: 0.8; */
        margin: 0px;
        width: auto;
    }
    .slider-innerbody h2 {
        position: absolute;
        bottom: 50px;
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        max-width: 50%;
        margin-bottom: -8px;
        text-align: left;
        padding: 0px 12px;
    }
    .slider-innerbody h4 {
        position: absolute;
        bottom: 0px;
        font-size: 14px;
        color: $gold;
        text-align: left !important;
        padding: 0px 12px !important;
    }
    a.formoreoption {
        color: #ffffff;
        font-size: 24px;
    }
    .slider-formoreoption .slider-body {
        height: 100%;
    }


}
