* {
    padding: 0px;
    margin: 0px;
}
body {
    overflow-x: hidden;
}

@font-face {
    font-family: $font-bold;
    src: url(../fonts/proximanova_extrabld.otf);
    src: url('../fonts/proximanova_extrabld.otf') format('otf');
    src: url(../fonts/proximanova_extrabld.eot);
    src: url('../fonts/proximanova_extrabld.eot') format('eot');
    src: url(../fonts/proximanova_extrabld.woff);
    src: url('../fonts/proximanova_extrabld.woff') format('woff');
    src: url(../fonts/proximanova_extrabld.ttf);
    src: url('../fonts/proximanova_extrabld.ttf') format('truetype');
}
@font-face {
    font-family: $font-medium;
    src: url(../fonts/proximanova_medium.otf);
    src: url('../fonts/proximanova_medium.otf') format('otf');
    src: url(../fonts/proximanova_medium.eot);
    src: url('../fonts/proximanova_medium.eot') format('woff');
    src: url(../fonts/proximanova_extrabld.woff);
    src: url('../fonts/proximanova_extrabld.woff') format('woff');
    src: url(../fonts/proximanova_medium.ttf);
    src: url('../fonts/proximanova_medium.ttf') format('truetype');
}
@font-face {
    font-family: proximanova_mediumit;
    src: url(../fonts/proximanova_mediumit.otf);
    src: url('../fonts/proximanova_mediumit.otf') format('otf');
}
.block-views {
    padding-top: 5%;
}
h1 {
    font-family: $font-bold;
    font-size: 66pt;
    line-height: 68pt;
    color: $dark-blue;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.div-container .row {
    padding: 75px 100px;
}
.banner-img {
    text-align: center;
}
.banner-quote {
    color: #4D6463;
    font-family: $font-medium;
    font-size: 58px;
    text-align: center;
    padding-top: 10px;
}
h2 {
    font-family: $font-bold; // max-width: 992px;
    font-size: 38pt;
    line-height: 42pt;
    color: $dark-blue;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
}
h3 {
    font-family: $font-bold;
    font-size: 32pt;
    line-height: 34pt;
    color: $dark-blue;
    text-align: center;
    padding-bottom: 10pt;
    padding-top: 25px;
}
h4 {
    a {
        color: $light-blue;
    }
    font-family: $font-bold;
    font-size: 21pt;
    line-height:26pt;
    color: $dark-blue;
    text-align: center;
    padding-bottom: 10pt;
    padding-top: 15px;
}
.content-block .content-img-center {
    padding: 10px 0px;
    text-align: center;
}
.div-container img {
    width: 100%;
}
.container-fluid {
   max-width: 100% !important;
}
.arrow-link {
    font-family: $font-bold;
    font-size: 18pt;
    line-height: 24pt;
    color: $light-blue;
}
.normal-link {
    font-family: $font-bold;
    font-size: 18pt;
    line-height: 24pt;
    color: $dark-blue;
}
img {
    //padding: 5px 20px;
}
@media only screen and (max-width:768px) {
    .arrow-link {
        font-family: $font-bold;
        font-size: 16pt;
        line-height: 18pt;
        color: $light-blue;
    }
}
.arrow-link:hover {
    color: $dark-blue;
}
.normal-link {
    font-family: $font-bold;
    font-size: 20pt;
    line-height: 29pt;
    color: $dark-blue;
}
@media only screen and (max-width:768px) {
    .normal-link {
        font-family: $font-bold;
        font-size: 16pt;
        line-height: 22pt;
        color: $light-blue;
    }
}
.normal-link:hover {
    color: $dark-blue;
}
.large-link {
    font-family: $font-bold;
    font-size: 32pt;
    line-height: 36pt;
    color: $light-blue;
}
@media only screen and (max-width:768px) {
    .large-link {
        font-family: $font-bold;
        font-size: 23pt;
        line-height: 25pt;
        color: $light-blue;
    }
}
.large-link:hover {
    color: $dark-blue;
}
.large-imgtxt-link {
    font-family: $font-bold;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
.btn-txt {
    font-family: $font-bold;
    font-size: 20pt;
    text-align: center;
    color: $dark-blue;
}
.custom-btn {
    min-width: 240px;
    min-height: 50px;
    color: $dark-blue;
    background-color: #ffbc00;
    padding: 10px;
}
.bg-blue {
    /*background-color:*/
}
/*    Accordian styles starts
.paragraph.paragraph--type--bp-accordion .panel-heading a.collapsed {
color: $dark-blue;
border-bottom:2px solid #4D6463;
}
.paragraph.paragraph--type--bp-accordion .panel-heading a {
font-size: 24px;
line-height: 35px;
text-decoration: none;
color: $dark-blue;
font-family:proximanova_extrabld;
}

.panel-collapse.collapse.in{
padding-left:12px;
color:#4D6463;
font-size: 20px;
line-height: 29px;
font-family:proximanova_medium;
border-bottom:2px solid #4D6463;
}

.paragraph--bp-accordion--container .panel-default > .panel-heading {

background-color: #fff;
}

.paragraph.paragraph--type--bp-accordion .panel-heading a:not(.collapsed):before {
content:"\f0d7";
margin-left:0px;
}

.paragraph.paragraph--type--bp-accordion .panel-heading a.collapsed:before {
content:"\f0da";
margin-left:5px;
}




/*    Accordian styles ends    */

/*}Alumini block CSS starts*/

/* Accordian admissions */

/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    color: $dark-gray;
    font-family: $font-medium;
    border-bottom: 2px solid $dark-gray;
}
.panel-default>.panel-heading {
    padding: 0;
    border-radius: 0;
    color: $dark-blue;
    font-family: $font-bold;
    background-color: #FFFFFF !important;
    border-color: #EEEEEE;
}
.panel-title {
    font-size: 24px;
}
.panel-title>a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: left;
    /* Title header csss*/
}
.panel-body {
    /*Body CSS*/
}
.panel-title img {
    float: left;
    height: 30px;
    margin: 6px 10px;
}
.more-less {
    float: right;
    color: #212121;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
}
/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}
/*     */

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #333;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #666;
    color: #ccc;
    overflow: hidden;
    position: relative;
}
.tab_last {
    border-right: 1px solid #333;
}
ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}
ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}
.tab_container {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}
.tab_content {
    padding: 20px;
    display: none;
}
.tab_drawer_heading {
    display: none;
}
input.cust-btn {
    padding: 10px;
    background-color: #FFBC00;
    color: $dark-blue;
    min-width: 240px;
    min-height: 50px;
}
@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
    /*}Alumini block CSS ends*/
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #333;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #666;
    color: #ccc;
    overflow: hidden;
    position: relative;
}
.tab_last {
    border-right: 1px solid #333;
}
ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}
ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}
.tab_container {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}
.tab_content {
    padding: 20px;
    display: none;
}
.tab_drawer_heading {
    display: none;
}
@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
}
/*  Mobile CSS starts Here   */

@media only screen and (max-width:768px) {
    .div-container .row {
        padding: 15px 20px;
    }
    h1 {
        font-size: 35pt;
        line-height: 37pt;
    }
    h2 {
        font-size: 25pt;
        line-height: 28pt;
    }
    arrow-link {
        font-size: 16pt;
        line-height: 22pt;
    }
    .normal-link {
        font-size: 16pt;
        line-height: 22pt;
    }
    .large-link:hover {
        font-size: 23pt;
        line-height: 25pt;
    }
    .large-imgtxt-link {
        font-size: 23pt;
        line-height: 25pt;
    }
    .btn-txt {
        font-size: 16pt;
    }
    .custom-btn {
        min-width: 282pt;
        min-height: 46pt;
    }
}
input.cust-btn {
    color: $dark-blue;
    min-width: 16pt;
}

/*Ranks CSS Starts*/

.paragraph--type--rankings {
    float: left;
    width: 24%;
}
.paragraph--type--rankings .field.field--name-field-rank-title {
    font-size: 72px;
}
.paragraph--type--rankings .field.field--name-field-heading {
    font-size: 24px;
}
.paragraph--type--rankings .field.field--name-field-rank-sub-headline {
    font-size: 14px;
    font-weight: bold;
}
/*Ranks CSS Ends*/

#block-views-block-next-steps-ftmba-block-1 {
    clear: both;
}
