/* Event Full Page */

.center-event node--type-events {
    .node--type-events {
        // width: 100% !important;
    }
}
.node--type-events {}
.event-image {
    display: inline-block;
}
.flex-etype {
    display: flex;
    justify-content: center;
}
.event-type {
    field--name-field-short-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    * {
        margin: 0 0;
    }
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    font-family: $font-bold;
    font-weight: bold;
    font-size: 19pt;
    color: #fff;
    background-color: $dark-blue;
    height: 10.83%;
    width: 30%; // padding: 5px 0px 0px 5px;
    overflow: no-display;
    white-space: nowrap; // margin: 0 45%;
}
.event-header {
    position: relative;
    display: inline-block;
}
.event-date {
    color: $dark-blue;
    font-family: $font-bold;
    font-size: 27pt;
}
.event-time {
    color: $dark-blue !important;
    font-family: $font-bold !important;
    font-size: 27pt !important;
}
.event-body {
    font-family: $font-medium;
    p {
        font-size: 20pt !important;
    }
}
.event-hosted {
    * {
        margin: 0;
    }
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: $font-medium;
    color: $dark-gray;
    font-size: 13pt;
    .field--label {
        float: left;
    }
    .field--item {
        width: 34vw;
    }
}
.event-location {
    font-family: $font-medium;
    color: $light-blue;
    font-size: 13pt;
    text-transform: uppercase;
}
.reg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-register {
    margin: 0 50%;
    background-color: $golden-hover;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    font: $font-bold;
    /*height: 65px;*/
    border-radius: 2%;
    margin: 3% 5px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    top: auto;
    left: auto;
    text-align: center;
    min-width: 240px;
    /*padding: 21px;*/
    //margin: 0 auto;
    display: table;
    :hover {
        //background-color: darken($golden-hover, 3%);
    }
    a {
        font: $font-bold;
        font-size: 16pt;
        min-width: 240px;
        font-weight: 900;
        padding-left: 0px;
        line-height: 30px;
        padding: 18px 15px;
        display: block;
    }
    a:hover {
        text-decoration: none; //background-color: darken($golden-hover, 3%);
    }
}
.flex-share {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    .atcb-item-link {
        background: $light-gray !important;
    }
    .atcb-link:hover {
        color: $dark-blue;
    }
    .atcb-item {
        background: $light-gray !important;
        padding: 10px 0;
        border-bottom: .1px solid lightgrey;
    }
    .atcb-list {
        background: $light-gray;
        margin-left: 15%;
        width: 100%;
        ul {
            background: $light-gray;
        }
        li:hover {
            background-color: $gold;
        }
        a {
            font-size: 16px;
        }
    }
    .placeholder {
        font-size: 16pt;
        background: #fff;
        height: auto;
        font-style: normal;
        color: $light-blue;
        margin-left: 0;
    }
    a {
        margin: 0 40px;
        font-size: 16pt;
        color: $light-blue;
        background: #fff;
    }
    a:hover {
        color: $dark-blue;
        text-decoration: none;
    }
}
.full-event-container {
    margin: 0 15%;
    text-align: center;
}
/* MOBILE CSS STARTS HERE */

@media (max-width: $desktop) {
    .event-type {
        * {
            margin: 0 0;
        }
        font-size: 20pt; // margin: 0 45%;
    }
}
@media (max-width: $tablets) {
    .event-type {
        * {
            margin: 0 0;
        }
        font-size: 16pt;
    }
}