$event-picture-wrapper: node--view-mode-event-directory-view;
$event-picture: wrap-left;
$event-picture-tag: taxonomy-term--type-events-taxonomy-event-types;
$event-details: event-dir-right-content;
$event-link: field--name-field-event-link;
$featured-event: featured-event-wrap;
$filter: views-exposed-form-event-directory--page-1;
$event-home-directory: clearfix paragraph paragraph--type--bp-columns paragraph--view-mode--default paragraph--id--758;
$featured-tag: featured-event-wrap-hug;
$featured-events-wrapper: view-featured-events-;
.#{$featured-events-wrapper} {
    display: flex;
    justify-content: center;
}
.#{$featured-events-wrapper} .view-content {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
    }
}
.#{$featured-events-wrapper} .view-content .views-row {
    width: 33%;
    position: relative;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.featured-event {
    margin: 0 10px;
    max-width: 400px;
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}
.#{$featured-event} img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
##{$filter} {
    margin-left: calc(50% - 615px);
    @media screen and (max-width: 1200px) {
        margin-left: calc(50% - 510px);
    }
    @media screen and (max-width: 990px) {
        margin-left: calc(50% - 400px);
    }
    @media screen and (max-width: 768px) {
        margin-left: 25px;
    }
}
.featured-event-content {}
.event-time {
    font-family: $font-bold;
    font-size: 16px;
    color: #476463;
}
.featured-event-link {
    font-size: 32px;
    line-height: 32px;
    padding: 15px 0px 10px 0px;
}
.#{$event-picture-wrapper} {
    margin-left: -45px;
    .col-sm-6 {
        width: 30%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        margin: 0 10px;
    }
}
.#{$event-picture} {
    overflow: hidden;
    height: 250px;
    margin-top: 10px;
    img {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.view-event-directory- .#{$event-picture-tag}, .#{$featured-tag} {
    position: absolute;
    font-family: $font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #fff;
    background-color: $dark-blue;
    height: 40px;
    width: 150px;
    content: '';
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.#{$featured-tag} {
    top: 0px;
    left: 10px;
}
.#{$event-link} {
    font-size: 32px;
}
.#{$event-details}, .event-time, .featured-event-content {
    font-family: $font-bold;
    font-size: 16px;
    color: #476463;
}
.wrap-right-hug .col-sm-6 {
    width: 70%;
}
// .placeholder {
//   background-color: $dark-blue;
//   width: 100%;
//   height: 350px;
//   max-width: 560px;
//   color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: $font-bold;
//   font-size: 32px;
//   margin-top: 10px;
//   @media screen and (max-width: 768px) {
//     display: none;
//   }
// }
.event-dir-link {
    @media screen and (max-width: 768px) {
        line-height: 32px;
    }
}
// removes tag from home directory event section
.home-event-type div div div {
    display: none;
}
.#{$event-home-directory} {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    .paragraph--type-bp-simple {
        .field--name-bp-text.field--type-text-long {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.paragraph--id--758 {
    .paragraph__column {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    .paragraph--type-bp-simple {
        .field--name-bp-text.field--type-text-long {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /*transform: translateY(100%);*/
            h4 {
                font-size: 5.7vw;
                line-height: 80px;
                @media screen and (max-width: 768px) {
                    text-align: center !important;
                    line-height: 30px;
                    font-size: 8.5vw;
                    #block-views-block-event-webinars-homepage-element-block-1 {
                        padding: 0;
                    }
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}
.view-event-webinars-homepage-element .views-field-nothing a {
    font-size: 32px;
    color: #356c96;
    margin-top: 50px;
    line-height: 32px;
}
.view-event-webinars-homepage-element .views-field-nothing {
    margin: 35px 0;
}
.view-event-webinars-homepage-element .views-field-nothing .home-event-content, .view-event-webinars-homepage-element .views-field-nothing .home-event-time {
    font-family: 'Proxima Nova Extrabold';
    font-size: 18px;
    color: #466662;
    line-height: 18px;
    padding: 10px 0;
}
@media screen and (max-width: 768px) {
    #block-views-block-event-webinars-homepage-element-block-1 {
        padding: 0;
    }
}