/* Exposed Views Form */
.views-exposed-form {

  /* Adds separation between filter of results */

  margin-bottom: 20px;
  padding-bottom: 10px;






  /* Styling for the Div surrounding the select. Sets width, & hides overflow */
  /* Background image from core! */
  .select-style {
    font-family: $font-bold;
    font-size: 18px;
    font-weight: 900;
    border: none;
    height: 42px;
    width: 280px;
    background-color: $dark-blue;
    color: #fff;
    text-indent: 10%;
    overflow: hidden;
    background: $dark-blue url("/sites/default/files/2018-05/arrow_submenu_down.png") no-repeat 96% 50%;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Styling for the select itself, extra width hides natural dropdown */
  .select-style select, .select-style option {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-color: transparent;
    background-color: rgba(0, 57, 109, .3);
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    option {
      
    }
  }

  /* Removes focus outline for Firefox */
  .select-style select:focus {
      outline: none;
  }


}
