.faculty-directory-view {
.structured-content.container {
 // width: fit-content;
  width: 75%;
}

}

#views-exposed-form-faculty-directory-page-1 > div {
  display: inline-flex;
  width: 100% ;
  justify-content: space-around ;
}

.faculty-directory {
  * {
    margin: unset;
    padding: unset;
  }
 .form-control {
   border-radius: 0;
   border: 1px solid $dark-blue;
   height: 42px;
    text-align: center;

}
#views-exposed-form-faculty-directory-page-1 > div > div.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-field-full-name-value.js-form-item-field-full-name-value.form-no-label.form-group{
  position: relative;
}



  #views-exposed-form-faculty-directory-page-1 > div > div.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-field-full-name-value.js-form-item-field-full-name-value.form-no-label.form-group::after {
    content: '\260C';
    position: absolute;
    right: 10px;
    top: -2px;
    transform: rotate(180deg);

    font-family: 'Glyphicons Halflings';
    font-size: 40px;

  }
}

#edit-field-full-name-value::placeholder {
  font-size: 16px !important;
  font-family: $font-bold !important;
  color: $dark-blue !important;

}