.faculty-full {
  h3, h4 {
    text-align: left;
    margin: unset;
    padding: unset;
  }

  .panel {
    border: none;

  }
  .panel-default > .panel-heading {
    border-bottom: 2px solid $light-gray;
  }
  .panel-title {
    padding: 13px 15px;
  }
  .p-button {
    margin: 15px 17px;
  }
  .c-button {
    width: 70px;
    height: 70px;
    background-color: $gold;
    color: $dark-blue;
    border-radius: 100%;
    padding: 16.5px;
    margin-top: 15px;
    font-family: $font-bold;
    font-size: 26px;
    margin-right: 120px;
  }
  .title {
    color: $dark-blue;
    font-family: $font-bold;
    font-size: 16pt;
    line-height: 21pt;
    margin: 25px 0;
  }
  .expertise-wrap {
    display: flex;
    .expertise-flex {
      display: flex;
      min-width: 205px;
      p {
        color: $dark-blue;
        font-family: $font-bold;
      }
    }
    .target-expertise {
      min-width: 700px;
      @extend .expertise-flex;
      .field--item {
        height: 50px;
        width: auto;
        min-width: 100px;
        position: relative;
        padding: 0 5px;
      }
      .field--item::after {
        position: absolute;
        content: ',';
        display: inline-block;
        right: -1px;
        top: 5px;
        font-family: $font-bold;
        color: $dark-blue;
        font-size: 22px;
      }
      .field.field--name-field-expertise.field--type-text.field--label-hidden.field--items {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .hide-body {
    display: none;
  }
  .body-text {
    *{
      margin: unset;
      padding: unset;
    }
    font-family: $font-medium;
    font-size: 16pt;
    line-height: 21pt;
    color: #4D6463;
    margin-bottom: 50px;
    margin-top: 70px;

    .body-top {
      margin-bottom: 30px;
    }
  }
  .p-button {
    margin-left: unset;
  }
  .faculty-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }
  .field--name-field-publications {
    font-style: italic;
  }
  .panel-heading {
    .panel-title::after {
      content: "\2212";
      display: inline-block;
      position: absolute;

      right: 10px;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
    }

    .panel-title.collapsed::after {
      content: "\002b";
      @extend .panel-title::after;

    }

  }

  //Sizing of Content Areas
  @media (min-width: 768px) {
    .col-sm-4.bs-region.bs-region--left {
      width: 25%;
    }
    .col-sm-4.bs-region.bs-region--middle {
      width: 50%;
    }
    .col-sm-4.bs-region.bs-region--right {
      width: 25%;
    }

  }

  //Mobile Code
  @media (max-width: $tablets) {

    .hide-body {
      display: block;
      background: $light-gray;
    }
    .show-body {
      display: none;
    }
.faculty-full{

  padding: 0 5%;
}
      .faculty-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }


    }


}