.faculty-teaser {
max-height: 200px;
  margin-bottom: 5%;
  margin-top: 15%;

  .faculty-teaser-left {
    display: flex;

      justify-content: flex-end;

  }

  .faculty-teaser-right {
    padding: 0 20px;
  }

  .faculty-right-top {
    font-family: $font-bold;
    color: $light-blue;
    font-size: 16px;
    p {
      font-family: $font-bold;
      color: $light-blue;
      font-size: 16px;
    }
    a {

      color: $light-blue;
    }
  }


  .faculty-right-bottom {
    font-family: $font-medium;
    color: $dark-blue;
    font-size: 16px;
    font-weight: 400;
    p {
      font-family: $font-medium;
      color: $dark-blue;
      font-size: 16px;
      font-weight: 400;
    }

    a {
      font-family: $font-medium;
      color: $dark-blue;
      font-size: 16px;
    }


  }
.faculty-right-top:hover {
  .faculty-right-top {
    color: $dark-blue;
    .expertise-hover {
      font-family: $font-medium;
    }
  }

}
}

/* Mobile Code Starts Here */

@media(max-width: $tablets) {
  .faculty-teaser-left {
  border-bottom: 2px solid $light-blue;
    .img-responsive {
      display: none;
    }
  }
  #views-exposed-form-faculty-directory-page-1 > div {
    flex-direction: column;
    width: unset;

  }


    .views-exposed-form .select-style {
      margin: 8px 0;
    }
.field--name-field-full-name {
  margin-top: 15px;
}

}
