
footer.footer.container-fluid {
    padding: 0;
}

#block-simon-sass-simon-sasslogo-3 {

    div.block-content--type-basic {

        div.col-sm-12 {

            div.field--name-body {
                max-width: 286px;
                width: 100%;
                margin: 0 auto;
                padding: 0;

                img {
                    padding: 0;
                    margin: 0 10px;
                    position: relative;
                    top: -70px;
                }
            }
        }
    }

}

#menubox-c135 {
    ul.awemenu {
        display: flex;
        justify-content: space-between;
        max-width: $wide-width-max-width;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .awemenu-arrow {
            margin-left: -15px;
        }

        li {
            a {
                line-height: 40px;
                padding: 15px 10px;
            }

            ul.awemenu-submenu {
                position: relative;
            }

            ul.awemenu-submenu.awemenu-dropdown {
                left: 10px !important;
                width: 100% !important;
            }
        }
    }
}


@media (max-width: $widee) {

    #menubox-c135 {
        ul.awemenu {
            background: none;

            .awemenu-arrow {

            }

            li {
                a {

                }

                ul.awemenu-submenu {
                    top: 20px;

                    li {
                        margin-bottom: 0;

                        a {
                            font-size: 20px;
                            padding: 20px 10px;
                            line-height: 20px;
                            color: $light-blue;

                        }
                    }
                }

                ul.awemenu-submenu.awemenu-dropdown {
                    margin: 0 auto !important;
                    position: absolute !important;
                    width: 100% !important;
                    left: 0 !important;
                    padding: 0;
                    top: 75px;
                }
            }

            i.awemenu-arrow.amm-down::before {
                content: "\e901";
            }

            li:last-child {
                padding: 0 !important;
            }
        }

        div.awemenu-bars {
            display: none;
        }
    }

    #menu-c48 {
    }
}

@media (max-width: $tablets) {



  #menubox-c135 {
    ul.awemenu {
      background: none;

      .awemenu-arrow {

      }

      li {
        a {
          font-size: 16px;
          padding: 20px 10px;
          line-height: 20px;
          background: white !important;
          color: $light-blue;

        }





        ul.awemenu-submenu {
          top: 20px;

          li {
            margin-bottom: 0;

            a {
              font-size: 20px;
              padding: 20px 10px;
              line-height: 20px;
              color: $light-blue;

            }
          }
        }

        ul.awemenu-submenu.awemenu-dropdown {
          margin: 0 auto !important;
          position: absolute !important;
          width: 100% !important;
          left: 0 !important;
          padding: 0;
          top: 75px;
        }
      }

      i.awemenu-arrow.amm-down::before {
        content: "\e901";
      }

      li:last-child {
        padding: 0 !important;
      }
    }

    div.awemenu-bars {
      display: none;
    }

  }

  #menu-c48 {
  }
}



