#block-googlecustomsearchblock {
    .gsc-control-cse {
        background-color: $dark-blue;
    }
    #gsc-i-id1, #gs_id50 {
        background-color: $dark-blue !important;
        color: #FFF;
    }
    .gsc-input-box {
        border: none;
    }
}
#block-googlecustomsearchblock.searchSlideDown, #block-googlecustomsearchblock.searchSlideUp {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
}
#block-googlecustomsearchblock.searchSlideDown {
    max-height: 300px;
}
#___gcse_0 {
    .gsc-search-button {
        margin-right: 15px;
    }
    div.gsc-clear-button {
        display: table-cell;
        background-image: url('/sites/default/files/2018-09/search-bar-close.png');
        height: 27px;
        width: 27px;
        padding: 0;
    }
    td.gsc-clear-button {
        display: table-cell;
        padding-left: 20px;
        height: 27px;
        width: 27px;
        padding: 0;
    }
}