/* Megamenu Styling*/

//Simon Business School Link
#menu-c247::before {
    content: url("/sites/default/files/2018-05/menu_hamburger_inactive2x.png");
    display: inline-block;
    float: left;
    transform: scale(.5, .5);
    position: absolute;
    bottom: -35px;
    left: -80px;
    padding-right: 5px;
    background-color: #FFF;
}
#menu-c247:hover::before {
    content: url("/sites/default/files/2018-05/menu_close_inactive2x.png");
    display: inline-block;
    float: left;
    transform: scale(.8, .8);
    position: absolute;
    bottom: -12px;
    left: -50px;
    padding-right: 5px;
    background-color: #E4E7E7;
}
#menu-c247 {
    overflow: no-display;
    white-space: nowrap;
    position: relative;
    ul.awemenu-submenu {
        position: relative;
        z-index: 10;
        left: -45px !important;
    }
}
//Hide down arrow
#menu-c247>a>i {
    display: none;
}
//Menu Background change when dropdown is open
.awemenu-active li, .awemenu-active>a {
    background: #e4e6e6 !important;
}
#menu-c247>a.active.ac-active {
    background: $light-gray;
}
//University of Rochester
#menu-c253 {
    padding-left: 10px;
    position: relative;
    color: #546D6B;
}
#menu-c253::before {
    content: '|';
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 5.5px;
    padding-right: 1%;
    color: #546D6B;
    transform: scale(2.2, 2.8);
}
#menu-c259::after {
    content: url("/sites/default/files/2018-05/search_inactive.png");
    display: inline-block;
    float: right;
    position: absolute;
    right: -30px;
    top: 16%;
    transform: scale(1.1, 1.1);
    cursor: pointer;
    background-color: #FFF;
}
//Search
#menu-c265 {
    position: relative;
    padding-right: 10px;
}
#menu-c265::after {
    content: '|';
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 2.3px;
    padding-right: 1%;
    color: #546D6B;
    transform: scale(2.2, 2.8);
    cursor: pointer;
    :hover::after {
        cursor: pointer;
    }
}
//whole megamenu
div.block-menu.ac_wrap_menu-main.menu--main {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    position: fixed;
    z-index: 1000;
    left: 0;
}
.ac_wrap_menu-main .menubox-c214 ul.awemenu>.awemenu-item>a {
    font-size: 20px; //line-height: ;
}
#menubox-c276>div>ul {
    font-family: $font-bold;
    z-index: 99 !important; //box-shadow: -1000px 0 0 0 white, 1000px 0 0 0 white;
}
#menubox-c276>div {
    position: relative;
    width: 100%;
    padding: 0;
    background: none !important;
    filter: none !important;
}
#menubox-c135 {
    width: 100%;
    padding-top: 30px;
}
#menubox-c135>div {
    font-family: $font-bold;
    overflow: no-display;
    white-space: nowrap; // margin: 0 20%;
    //background: transparent;
}
#menubox-c135>div>ul {
    overflow: no-display;
    white-space: nowrap;
}
#menubox-c135>div>ul>li {
    padding: 0px 10px;
}
.ac_wrap_menu-main .menubox-c276 ul.awemenu>.awemenu-item>a {
    font-size: 15pt;
}
#menubox-c276 {
    width: 100%;
    max-width: 1172px !important;
    margin: 0 auto;
}
#menubox-c276.awemenu-sticky {
    div.awemenu-container {
        background-color: #FFF;
        width: 90% !important;
        max-width: 1172px !important;
        left: 50%;
        transform: translateX(-50%);
    }
}
.block-menu.contextual-region.ac_page-wrapper.ac_wrap_menu-main.menu--main {
    .form-group {
        padding-bottom: 23px;
    }
}
//Megamenu Capitalization
.ac_wrap_menu-main .menubox-c276 .awemenu-container {
    text-transform: none;
}
.awemenu-animation .awemenu-fadeup>.awemenu-submenu {
    position: absolute !important;
}
//megamenu items top level
.awemenu-classic .awemenu>.awemenu-item>a {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: none;
    border-left: none;
    border-right: none;
}
#menubox-c135>div>ul>li {
    padding: 0px 10px;
    position: relative;
}
//footerr menuu
.awemenu-submenu awemenu-dropdown {
    width: auto;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item:hover>a {
    color: $light-blue;
    background-color: $gold !important;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item>a {
    color: $light-blue;
    font-size: 20px;
}
.ac_wrap_menu-tools .awemenu-nav ul.awemenu .menu-c24>a {
    font-family: $font-bold;
    font-size: 36pt;
    line-height: 40pt;
    color: $light-blue;
}
.ac_wrap_menu-tools .awemenu-nav ul.awemenu .menu-c30>a {
    font-family: $font-bold;
    font-size: 36pt;
    line-height: 40pt;
    color: $light-blue;
}
.ac_wrap_menu-tools .awemenu-nav ul.awemenu .menu-c59>a {
    font-family: $font-bold;
    font-size: 36pt;
    line-height: 40pt;
    color: $light-blue;
}
.ac_wrap_menu-tools .awemenu-nav ul.awemenu .menu-c124>a {
    font-family: $font-bold;
    font-size: 36pt;
    line-height: 40pt;
    color: $light-blue;
    white-space: nowrap;
    overflow: hidden;
    float: right;
}
//mainn navv accordian
.ac-accordion__header {
    border: none;
}
.ac-accordion__header:hover a {
    text-decoration: none;
    background-color: $light-gray;
}
#block-mainnavigation-7-menu {
    font-size: 16pt;
    margin-left: 3px;
    line-height: 0px;
    text-align: left;
    padding-top: 0;
    padding-left: 10px;
}
#block-mainnavigation-8-menu {
    font-size: 16pt;
    margin-left: 3px;
    line-height: 0px;
    text-align: left;
    padding-top: 0;
    padding-left: 10px;
}
#block-mainnavigation-9-menu {
    font-size: 16pt;
    line-height: 0px;
    padding-left: 15px;
    padding-top: 5px;
}
//acordian headers
.ac_wrap_menu-main .el_accordion-c203 .ac-accordion__header a {
    color: $light-blue;
    font-size: 24pt;
    line-height: 32pt;
}
#column-c214>div>div>div>div.el_accordion_item-c80.ac_element.form-group>div>div.ac-accordion__header.ac-accordion__header--icon-right>a {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c108.ac_element.form-group>div>div.ac-accordion__header.ac-accordion__header--icon-right>a {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c136.ac_element.form-group>div>div.ac-accordion__header.ac-accordion__header--icon-right>a {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c164.ac_element.form-group>div>div.ac-accordion__header.ac-accordion__header--icon-right>a {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c192.ac_element.form-group>div>div.ac-accordion__header.ac-accordion__header--icon-right>a {
    text-decoration: none;
}
//accordian items
#block-mainnavigation-7>ul>li:hover a {
    background-color: $gold;
}
#block-mainnavigation-8>ul>li:hover a {
    background-color: $gold;
}
#block-mainnavigation-9>ul>li:hover a {
    background-color: $gold;
}
//accordian icons
//Programs Icon
#column-c214>div>div>div>div.el_accordion_item-c80.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active::after {
    content: url("/sites/default/files/2018-05/arrow_menu_up.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c80.ac_element.form-group>div>div.ac-accordion__header>a::after {
    content: url("/sites/default/files/2018-05/arrow_menu_down.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c80.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c80.ac_element.form-group>div>div.ac-accordion__header>a:hover {
    background-color: darken($light-gray, 10%)
}
//Why Simon Icon
#column-c214>div>div>div>div.el_accordion_item-c108.ac_element.form-group>div>div.ac-accordion__header>a::after {
    content: url("/sites/default/files/2018-05/arrow_menu_down.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c108.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active::after {
    content: url("/sites/default/files/2018-05/arrow_menu_up.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c108.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c108.ac_element.form-group>div>div.ac-accordion__header>a:hover {
    background-color: darken($light-gray, 10%)
}
//Faculty & Research Icon
#column-c214>div>div>div>div.el_accordion_item-c136.ac_element.form-group>div>div.ac-accordion__header>a::after {
    content: url("/sites/default/files/2018-05/arrow_menu_down.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c136.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active::after {
    content: url("/sites/default/files/2018-05/arrow_menu_up.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c136.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c136.ac_element.form-group>div>div.ac-accordion__header>a:hover {
    background-color: darken($light-gray, 10%)
}
//Recruiters Icon
#column-c214>div>div>div>div.el_accordion_item-c164.ac_element.form-group>div>div.ac-accordion__header>a::after {
    content: url("/sites/default/files/2018-05/arrow_menu_down.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c164.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active::after {
    content: url("/sites/default/files/2018-05/arrow_menu_up.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c164.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c164.ac_element.form-group>div>div.ac-accordion__header>a:hover {
    background-color: darken($light-gray, 10%)
}
//Alumni Icon
#column-c214>div>div>div>div.el_accordion_item-c192.ac_element.form-group>div>div.ac-accordion__header>a::after {
    content: url("/sites/default/files/2018-05/arrow_menu_down.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c192.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active::after {
    content: url("/sites/default/files/2018-05/arrow_menu_up.png");
    position: absolute;
    right: 20px;
}
#column-c214>div>div>div>div.el_accordion_item-c192.ac_element.form-group>div>div.ac-accordion__header>a.active.ac-active {
    text-decoration: none;
}
#column-c214>div>div>div>div.el_accordion_item-c192.ac_element.form-group>div>div.ac-accordion__header>a:hover {
    background-color: darken($light-gray, 10%)
}
//why simon block
#block-mainnavigation-3>ul>li:hover a {
    background-color: $gold;
}
//faculty & research block
#block-mainnavigation-4>ul>li:hover a {
    background-color: $gold;
}
//alumni block
#block-mainnavigation-6>ul>li:hover a {
    background-color: $gold;
}
//recruiters block
#block-mainnavigation-5>ul>li:hover a {
    background-color: $gold;
}
//Megamenu Image
#column-c225 {
    background-image: url("/sites/default/files/2018-05/menu_img.PNG");
    background-size: 110% 100%;
    transform: scale(1.2, 1) translate(55px, 0px);
    box-shadow: 50px 66.5px 0px 0px $light-gray;
}
//program accordian shadoww
#column-c214>div>div>div>div.el_accordion_item-c80.ac_element.form-group>div>div.ac-accordion__header>a {
    box-shadow: 410px 29px 0px 38px $light-gray;
    z-index: -1;
}
/* Menu Bar Hiding Action Bar Fix */

.awemenu-nav {
    position: relative;
    z-index: 99;
}
//Footer Resources
#menubox-c135>div {
    .awemenu-active li, .awemenu-active>a {
        // background: white !important;
    }
}
.awemenu-item .awemenu-submenu.awemenu-dropdown {
    //top:110px;
}
#menu-c124>ul {
    top: 60px;
}
.awemenu-classic .awemenu .awemenu-submenu {
    //background-color: transparent;
}
.awemenu-submenu.awemenu-dropdown {
    left: -70px !important;
    .navbar-nav>li>a {
        padding: 10px;
        color: $light-blue;
    }
    .ac_element {
        margin-top: 0;
    }
    .ac-accordion__header a {
        padding: 25px 15px;
    }
}
/*
.awemenu-submenu.awemenu-dropdown {
    display: block !important;
    opacity: 100 !important;
    visibility: visible !important;
}
*/

/*
#block-mainnavigation-7-menu {
    line-height: 16pt;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
}
*/

#section-c236 {
    width: 995px;
    min-height: 625px;
    .ac_container {
        padding: 0;
    }
    .js-ac-row.ac_row.js-sort-column {
        display: flex;
        justify-content: flex-start;
        min-height: 625px;
    }
    .form-group.wow.fadeIn {
        flex: 1 1 0;
        padding: 0;
        margin: 0;
    }
}
#column-c214 {
    max-width: 625px;
    width: 100%;
    .ac-accordion__header {
        box-shadow: none;
        a {
            box-shadow: none !important;
            padding: 10px 25px;
        }
    }
    .ac-accordion__body {
        padding: 15px 40px;
    }
    .form-group {
        padding-bottom: 0;
    }
    .ac_row {
        .ac-column {
            padding: 0;
            width: auto;
            height: auto;
            h2 {
                line-height: 16pt;
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 5px;
            }
            .awe-block, .ac_element {
                height: auto;
                .blockMenuMain {
                    h2 {
                        margin-left: 0;
                        padding-left: 0;
                    }
                }
                .navbar-nav {
                    float: none;
                    margin: 0;
                    li {
                        float: none;
                    }
                }
            }
        }
    }
}
#column-c225 {
    box-shadow: none;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
    background-size: auto;
    transform: none;
}
#column-c69 {
    bottom: 65px;
    margin-bottom: -65px;
}
#column-c52 {
    min-height: auto;
}
#block-mainnavigation-9-menu {
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}
/*
#column-c214 {

    .ac_row {
        column-count: 2;
        column-width: 300px;
        width: 600px;

        .ac-column {
            float: none !important;
            width: 300px !important;
            height: auto !important;
            display: inline-block;
            page-break-after: avoid;

            .awe-block, .ac_element {
                height: 100%;
                width: 300px;

                .navbar-nav {
                    float: none;

                    li {
                        float: none;
                    }
                }
            }
        }
    }
}
*/

.awemenu-standard .awemenu>.awemenu-item .awemenu-submenu.awemenu-dropdown, .awemenu-top .awemenu>.awemenu-item .awemenu-submenu.awemenu-dropdown {
    background: transparent !important;
}
/*MOBILE CSS STARTS HERE */

#menu-c247>a>i {
    display: none;
}
/*MOBILE CSS STARTS HERE */

.awemenu-mobile-standard.awemenu-nav .awemenu-bars, .awemenu-nav.awemenu-mobile-top .awemenu-bars {
    background: $dark-blue;
    position: relative;
    right: 96%;
}
@media (max-width: $xwide) {
    #menubox-c276>div {
        position: relative;
        max-width: 1172px !important;
        /* width: 100% !important; */
        padding: 0;
    }
    #menubox-c276 {}
    #menubox-c276>div>ul {
        // margin-right: 111px;
    }
    #menubox-c276.awemenu-sticky {
        div.awemenu-container {
            background-color: #FFF;
            width: 90% !important;
            max-width: 1172px !important;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media (max-width: 1172px) {
    #menubox-c276 {
        width: 100% !important;
        max-width: 100% !important;
        div.awemenu-container {
            background-color: #FFF;
            width: 90% !important;
            max-width: 100% !important;
            /*
            left: 50%;
            transform: translateX(-50%);
            */
        }
    }
    #menubox-c276.awemenu-sticky {
        background-color: #FFF;
        width: 100% !important;
        max-width: 100% !important;
        /*
        left: 50%;
        transform: translateX(-50%);
        */
        div.awemenu-container {
            background-color: #FFF;
            width: 90% !important;
            max-width: 100% !important;
            /*
            left: 50%;
            transform: translateX(-50%);
            */
        }
    }
}
@media (max-width: $widee) {
    #menubox-c276>div {
        position: relative;
        max-width: 1260px !important;
    }
    .awemenu-classic .awemenu .awemenu-submenu .awemenu-item>a {}
    #block-mainnavigation-8 {
        margin-left: 68px;
    }
    #section-c236 {
        width: 624px;
    }
    #menubox-c276 {
        //width: 80% !important;
    }
    #menubox-c276>div {
        // width: 80% !important;
    }
    #menubox-c276>div>ul {
        // margin-right: unset;
    }
    .awemenu-mobile.awemenu-mobile-standard .awemenu, .awemenu-mobile.awemenu-mobile-top .awemenu {
        // overflow: hidden;
    }
    .awemenu-mobile-standard.awemenu-sticky .awemenu, .awemenu-sticky.awemenu-mobile-top .awemenu {
        overflow-y: unset;
    }
    #menubox-c135 ul.awemenu li ul.awemenu-submenu.awemenu-dropdown {
        margin-left: 35%;
        margin-right: 35%;
    }
    #menubox-c135 {
        .awemenu-container {
            .awemenu {
                flex-flow: row wrap;
                li {
                    flex: 1 0 100%;
                    text-align: center;
                    margin-bottom: unset;
                    padding-bottom: 30px;
                    a {
                        float: none;
                    }
                }
                .menu-c124>a {
                    float: none;
                }
            }
        }
    }
}
@media (max-width: $desktop) {
    .ac_wrap_menu-main .menubox-c276 ul.awemenu>.awemenu-item>a {
        font-size: 13pt;
    }
    #block-mainnavigation-7 {
        position: relative;
        z-index: 1000;
    }
    #block-mainnavigation-9 {
        position: relative;
        z-index: 1000;
    }
    #block-mainnavigation-8 {
        position: relative;
        z-index: 100;
    }
    .awemenu-submenu.awemenu-dropdown .navbar-nav>li>a {
        //padding: 0 6px;
    }
    .ac-accordion__header {
        a {
            font-size: 20pt;
        }
    }
    .ac-accordion__body {
        //padding: 0px 30px;
    }
    #section-c236 {
        //width: 100%;
    }
    .ac_container {
        margin: 0;
    }
    #menu-c259::before {
        display: none;
    }
    #menu-c253 {
        padding-left: 0;
    }
    #menu-c253::before {
        display: none;
    }
    #menu-c259>a {
        display: none;
    }
    #menu-c259::after {
        content: url(/sites/default/files/2018-05/search_inactive.png);
        display: inline-block;
        float: right;
        position: absolute;
        right: -30px;
        top: 23%;
        transform: scale(1.1, 1.1);
        cursor: pointer;
    }
    #menu-c247 {
        clear: both;
    }
    #menu-c247::before {
        content: url(/sites/default/files/2018-05/menu_hamburger_inactive2x.png);
        display: inline-block;
        float: left;
        transform: scale(0.5, 0.5);
        position: absolute;
        bottom: -55px;
        left: -80px;
        padding-right: 5px;
    }
    .awemenu-standard .awemenu>.awemenu-item, .awemenu-top .awemenu>.awemenu-item {
        clear: both;
    }
    #menu-c247:hover::before {
        content: url("/sites/default/files/2018-05/menu_close_inactive2x.png");
        display: inline-block;
        float: left;
        transform: scale(.6, .6);
        position: absolute;
        bottom: -5px;
        left: -50px;
        padding-right: 5px;
        background-color: #c1c1c1;
    }
    .ac_wrap_menu-main .menubox-c276 ul.awemenu>.awemenu-item>a {
        line-height: 23px;
    }
    #menu-c265 {
        position: absolute;
        right: 0;
        top: 10px;
    }
    #menu-c265::after {
        display: none;
    }
    #menubox-c276>div {
        padding: 10px;
    } //Footer Dropdown
    #menubox-c135 ul.awemenu li ul.awemenu-submenu.awemenu-dropdown {
        margin-left: 30%;
        margin-right: 30%;
    } //Programs accordian
    /*
  #column-c214 > div > div > div > div.el_accordion_item-c80.ac_element.form-group > div {
    position: relative;
    left: -159px;
  }
  #column-c214 > div > div > div > div.el_accordion_item-c108.ac_element.form-group > div {
    position: relative;
    left: -159px;
  }
  #column-c214 > div > div > div > div.el_accordion_item-c136.ac_element.form-group > div {
    position: relative;
    left: -159px;
  }

  #column-c214 > div > div > div > div.el_accordion_item-c164.ac_element.form-group > div{
    position: relative;
    left: -159px;
  }
  #column-c214 > div > div > div > div.el_accordion_item-c192.ac_element.form-group > div {
    position: relative;
    left: -159px;
  }
  */
}
@media (max-width: $tablets) {
    #menubox-c276>div {
        padding: 0;
        padding-right: unset !important;
    }
    .form-group {
        background: white;
    }
    .ac_bg__overlay, .ac_bg--video {
        background: white !important;
    }
    .amm-down:before {
        content: "☰";
        color: $light-blue;
    }
    .awemenu-mobile .awemenu-item>a>.awemenu-arrow {
        //position: absolute !important;
        /* width: 55px; */
        //height: 100%;
        //top: 4px !important;
        //right: 44px;
        //text-align: center;
    }
    .amm-clear:before {
        color: $light-blue;
    }
    #block-mainnavigation-7 {
        z-index: 1000;
    }
    #block-mainnavigation-9 {
        z-index: 1000;
    }
    #block-mainnavigation-8 {
        z-index: 1000;
        margin-left: -10px;
        margin-bottom: 61px;
    }
    .awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item>a {
        background: white !important;
    }
    #section-c236 .js-ac-row.ac_row.js-sort-column {
        background: white;
        box-shadow: white -73px 24px 0 0;
    }
    #menu-c247>ul {
        //margin-top: 5%;
    }
    #menu-c253 {
        position: absolute;
        top: 33px;
        z-index: 999; //box-shadow: white -100px -2px 0 0, white 100px -2px 0 0;
    }
    #menu-c247>a>i {
        display: inline;
        position: relative;
        left: -101%;
        top: 13px;
        transform: scale(2.1, 2.1);
    }
    #column-c52>div>div {
        margin-left: 2%;
    }
    .awemenu-submenu.awemenu-dropdown .ac-accordion__header a {
        font-size: 20pt;
    }
    .ac-accordion__body {
        padding: unset;
        background: white;
        .ac_row {
            display: flex;
            flex-direction: column;
        }
        a {
            background: white;
        }
        a:hover {
            background: $gold;
        }
    }
    #column-c214 {
        background: white;
        margin-left: -77px;
        width: 120%;
        margin-top: 8%;
        .ac-accordion__body {
            background: white;
        }
    }
    #section-c236 {
        width: 120%;
    }
    #menu-c265 {
        position: absolute;
        right: -5px;
        top: 18px;
        z-index: 100; //box-shadow: white 0px -236px 0 249px;
    }
    #menu-c259::after {
        content: url(/sites/default/files/2018-05/search_inactive.png);
        display: inline-block;
        float: right;
        position: absolute;
        right: -30px;
        top: 40%;
        transform: scale(1.1, 1.1);
        cursor: pointer;
    }
    li#menu-c259.awemenu-item.menu-c259.awemenu-item-right {
        position: absolute;
        top: 16px;
        right: 0;
        z-index: 1000;
    }
    .awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item>a {
        padding: 0;
        background: transparent !important;
    }
    .ac-accordian__panel {
        //display: inline-flex;
    } //Menu Image
    #menubox-c276>div {
        // padding: 0 40px;
    }
    #menu-c247::before {
        display: none;
    }
    #menu-c247:hover::before {
        display: none;
    }
    #column-c225 {
        display: none;
    } //whole menu
    #menubox-c276 {
        // width: 100% !important;
    }
    #menubox-c276>div {
        padding: 0;
    }
    #menubox-c276>div>ul {
        position: relative;
        display: block;
        padding: 10px;
        font-size: 13pt;
        color: $dark-blue;
        background-color: #fff;
        height: 55px;
    }
    .awemenu-mobile-standard.awemenu-nav .awemenu-bars, .awemenu-nav.awemenu-mobile-top .awemenu-bars {
        background: $dark-blue;
    }
    #menu-c253::before {
        display: none;
    } //Footer Dropdown
    .awemenu-classic.awemenu-mobile .awemenu-container {
        padding-left: unset;
    }
    #menu-c124 {
        text-indent: 9px;
    }
    #menu-c124>a>i {
        margin-right: 13px;
    }
    #menubox-c135 ul.awemenu li ul.awemenu-submenu.awemenu-dropdown {
        margin-left: 20%;
        margin-right: 20%;
    }
    #menubox-c135 ul.awemenu li a {
        line-height: 40px;
        font-size: 36px;
        padding: 0px 10px;
        text-align: left;
    }
    #menubox-c135 ul.awemenu li ul.awemenu-submenu li {
        margin-bottom: 0;
        background: white !important;
    }
    #block-views-block-next-steps-homepage-block-1>h2 {
        text-align: left;
        text-indent: 35px;
    }
    #menubox-c276 {
        width: 100% !important;
        max-width: 100% !important;
        div.awemenu-container {
            background-color: #FFF;
            width: 78% !important;
            max-width: 100% !important;
            /*
            left: 50%;
            transform: translateX(-50%);
            */
        }
    }
    #menubox-c276.awemenu-sticky {
        background-color: #FFF;
        width: 100% !important;
        max-width: 100% !important;
        /*
        left: 50%;
        transform: translateX(-50%);
        */
        div.awemenu-container {
            background-color: #FFF;
            width: 78% !important;
            max-width: 100% !important;
            /*
            left: 50%;
            transform: translateX(-50%);
            */
        }
    }
}
@media (max-width: $xsm) {
    #menubox-c276.awemenu-sticky {
        div.awemenu-container {
            background-color: #FFF;
            height: 80px;
            width: 100% !important;
            box-shadow: white 1005px 0px 0px 0px, white -1010px 0px 0px 0px !important;
            #menu-c265 {
                top: 20px;
                right: 94px;
                position: fixed;
            }
            #menu-c259 {
                position: fixed;
                right: 94px;
                top: 20px;
            }
        }
    }
}
#menubox-c276>div>div:nth-child(1) {
    display: none;
}
#menubox-c276>div>div:nth-child(2) {
    display: none; //right: 96%;
}
#menubox-c276>div>div:nth-child(1) {
    display: none;
}
#menubox-c276>div>div:nth-child(2) {
    display: none;
}
/* Mobile styling ends here */