/* Next Steps Styling */

.next-stepsbtn {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.25);
    font: $font-bold;
    height: 65px;
    width: 250px;
    background-color: lighten($gold, 13%);

    border-radius: 2%;
    margin-left: 10px;
    text-align: center;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: 25%;
    top: 100px;





    a{
    color: lighten($dark-blue, 6%);
    font: $font-bold;
    font-size: 13pt;
    font-weight: 900;
    position: absolute;
    top: 20px;
    left: 30px;
}

    a:hover {
        text-decoration: none;

    }

}

.next-stepsbtn:hover {
        background: darken($gold, 1%) ;
        cursor: pointer;
}

.next-stepsbtn-two {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.25);
  font: $font-bold;
  height: 65px;
  width: 250px;
  background-color: lighten($gold, 13%);

  border-radius: 2%;
  margin-left: 10px;
  text-align: center;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 25%;





  a{
    color: lighten($dark-blue, 6%);
    font: $font-bold;
    font-size: 13pt;
    font-weight: 900;
    padding-left: 0px;
    position: absolute;
    top: 20px;
    left: 30px;

  }

  a:hover {
    text-decoration: none;

  }

}

.next-stepsbtn-two:hover {
        background: darken($gold, 1%) ;
        cursor: pointer;
}

.next-step-title {
    font-family: $font-bold;
    color: $dark-blue;
    font-size: 28pt;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 40%;
    margin-bottom: 10px;

}

.next-step-panel {
    height: 200px;
    width: auto;
    display: block;
    background-color: $light-gray;
    position: relative;

}

.p-button{
  background-color: $golden-hover;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;
  font: $font-bold;
  /*height: 65px;*/
  //border-radius: 2%;
  margin: 0px 17px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  text-align: center;
  min-width: 240px;
  padding: 0 30px;
  //margin: 0 auto;
  display: table;
  a{
    font: $font-bold;
    font-size: 16pt;
    min-width: 240px;
    color: $dark-blue;
    font-weight: 900;
    padding-left: 0px;
    line-height: 30px;
    padding: 16px 15px;
    display: block;
  }
  a:hover {
    text-decoration: none;
    color: $light-blue;
  }

}

.p-button:hover{
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  color: $light-blue;
}

/* Get Started Now Main styling/ FTMBA*/

.next-stepz {
  background-color: $light-gray;
  padding-bottom: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;



  a {
    color: $light-blue;
    font: $font-bold;
    text-align: center;

  }
  .field-content {

    text-align: center;

    a {
      color: $light-blue;
      font-family: $font-bold;
      text-align: center;
      font-size: 18pt;
      line-height: 24pt;
    }
  }
}

@media (max-width: $desktop) {
  .next-stepz {
    background-color: $light-gray;

    .views-content {


    }

    a {
      color: $light-blue;
      font: $font-bold;
    }
    .field-content {


      a {
        color: $light-blue;
        font-family: $font-bold;
        text-align: center;
        font-size: 18pt;
        line-height: 24pt;


      }
    }
  }

}

@media (max-width: $tablets) {
  .p-button{
    a {
      min-width: 330px;
    }
  }
  .g-button {
    a {
      min-width: 330px;
    }
  }
  .next-stepz {
    background-color: $light-gray;

    .views-content {


    }

    a {
      color: $light-blue;
      font: $font-bold;
    }
    .field-content {


      a {
        color: $light-blue;
        font-family: $font-bold;
        text-align: center;
        font-size: 18pt;
        line-height: 24pt;


      }
    }
  }

}


#block-views-block-next-steps-ftmba-block-1 > h2 {
  background-color: $light-gray;
  margin-bottom: 0;
}

/* Get Started Now Buttons */
.g-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $golden-hover;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;


  font: $font-bold;
  /*height: 65px;*/
  //border-radius: 2%;

  margin: 3% 17px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  text-align: center;
  min-width: 240px;
  /*padding: 21px;*/
  //margin: 0 auto;
  display: table;





  a {

    font: $font-bold;
    font-size: 16pt;
    min-width: 240px;
    font-weight: 900;
    padding-left: 0px;
    line-height: 30px;
    padding: 18px 15px;
    display: block;
    color: $dark-blue;


  }

  a:hover {
    text-decoration: none;
    color: $light-blue;
    //background-color: darken($golden-hover, 3%);
  }

}
.g-button:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.flex-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#block-getstartednow {
  background-color: $light-gray;
  margin-bottom: -5%;
  padding-bottom: 1%;
  //box-shadow: 10px 0 0 0 $light-gray;

   clear: both;

}

#block-views-block-next-steps-ftmba-block-1 > h2 {
  margin-top: 0;
}

#block-getstartednow > h2 {
  position: relative;
  top: 50px;
}

#block-getstartednow > div.row.bs-3col-bricked > div > div:nth-child(2) {
 //display: none;
}

/* Get Started Now Recruiters */

#block-views-block-duplicate-of-next-steps-recruiters-block-1 > h2 {
  background: $light-gray;
  margin: 0;

}

/* Get Started Now Why Simon*/

#block-views-block-next-steps-block-1 > h2 {
  background: $light-gray;
  margin: 0;

}

/* Get Started Now Alumni*/
#block-views-block-next-steps-alumni-block-1 > h2 {
  background: $light-gray;
  margin: 0;

}
/* Get Started Now Home Page*/
#block-views-block-next-steps-homepage-block-1 > h2 {
  background: $light-gray;
  margin: 0;
}
#block-views-block-next-steps-faculty-block-1 > h2 {
  background: $light-gray;
  margin: 0;
}
//What to Explore Next Mobile CSS
@media (max-width: $tablets) {
  .g-button {
    min-width: 380px;
  }

  #block-getstartednow > h2 {
    text-align: left;
    text-indent: 36px;
  }

  .flex-button {
    margin-top: 20px;
  }
  //Home Page - What to explore next title
  #block-views-block-next-steps-homepage-block-1 > h2 {
    text-align: left;
  }
  #block-views-block-next-steps-ftmba-block-1 > h2 {
    text-align: left;
    text-indent: 35px;
  }
  .next-stepz {
    justify-content: left;
    text-align: left;
    text-indent: 35px;
  }
}
