//Paragraph Types Styles
.paragraph--type--hero-video {
    max-width: $wide-width-max-width;
    margin: 0 auto;
    width: 100%;
    padding: 0;

    .paragraph__column {
        padding: 0;
    }
}
#paraColumnHeroImage, #paraColumnHeroVideo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    //max-width: 992px;
    width: 100%;
    margin: 0 auto;
    float: none;
    padding: 0;
}

#paraColumnHeroVideo {

}

.hideHeroVideoOverlays {
    display: none;
}

#paraColumnHeroVideo::after {
    width: 93px;
    height: 93px;
    background-image: url("/sites/default/files/2018-09/hero-video-btn.png");
    content: " ";
    position: relative;
    display: block;
    bottom: 160px;
    left: 50px;
    margin-bottom: -90px;
}
@media (max-width: $tablets) {
  #paraColumnHeroVideo::after {

    background-image: url("/sites/default/files/2018-09/hero-video-btn.png");
    content: " ";
    position: relative;
    display: block;
    bottom: 101px;
    left: -7px;
    margin-bottom: -90px;
    transform: scale(.4, .4);
  }
}
#paraColumnHeroImage {
    .field--name-field-image.field--type-image {
        picture {
            img {
                padding: 0;
                width: 100%;
                max-height: 600px;
                object-fit: cover;
            }
        }
    }
}

.paragraph--type--hero-image {
    padding: 0 0 40px 0;
}

.paragraph--type--hero-image.hero-txt-top-left {
    .field--name-field-overlay-text {
        .field--item {
            position: absolute;
            left: 50px;
            top: 50px;
          //font-size: 4vw;
          //  line-height: 4vw;
            font-size: 30px;
            line-height: 32px;
            margin-top: 10px;
            margin-left: 10px;
            padding: 0 100px 0 4px;
            max-width: 600px;
            font-family: $font-bold;
            text-transform: uppercase;
        }
    }
    .field--name-field-text-color {
        .field--item {
            display: none;
        }
    }
    .field--name-field-text-position {
        .field--item {
            display: none;
        }
    }
}
#paraColumnHeroImage.hero-txt-middle {
    .field--name-field-overlay-text {
        .field--item {
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 4vw;
            line-height: 4vw;

            max-width: 600px;
            font-weight: bold;
            transform: translate(-50%, -50%);
            font-family: $font-bold;
            text-transform: uppercase;
        }
    }
    .field--name-field-text-color {
        .field--item {
            display: none;
        }
    }
    .field--name-field-text-position {
        .field--item {
            display: none;
        }
    }
}
/* START HERO VIDEO CSS */

#paraColumnHeroVideo.hero-txt-top-left {
    .field--name-field-text-overlay {
        .field--item {
            position: absolute;
            left: 50px;
            top: 50px;
            //font-size: 4vw;
            //line-height: 4vw;
            font-size: 30px;
            line-height: 32px;
            margin-top: 10px;
            margin-left: 10px;
            padding: 0 100px 0 4px;
            max-width: 600px;
            font-weight: bold;
            z-index: 10;
            font-family: $font-bold;
            text-transform: uppercase;
        }
    }
    .field--name-field-text-color- {
        .field--item {
            display: none;
        }
    }
    .field--name-field-text-positon {
        .field--item {
            display: none;
        }
    }
}
#paraColumnHeroVideo.hero-txt-middle {
    .field--name-field-text-overlay {
        .field--item {
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 4vw;
            line-height: 4vw;


            max-width: 600px;
            font-weight: bold;
            transform: translate(-50%, -50%);
            z-index: 10;
            font-family: $font-bold;
            text-transform: uppercase;
        }
    }
    .field--name-field-text-color- {
        .field--item {
            display: none;
        }
    }
    .field--name-field-text-positon {
        .field--item {
            display: none;
        }
    }
}
/* END HERO VIDEO CSS */

.overlayTextWhite, .overlayTextUndefined {
    .field--name-field-overlay-text, .field--name-field-text-overlay {
        .field--item {
            color: #FFF;
        }
    }
}
.overlayTextBlack {
    .field--name-field-overlay-text, .field--name-field-text-overlay {
        .field--item {
            color: #000;
        }
    }
}
@media screen and (min-width: 1260px) {
    #paraColumnHeroVideo.hero-txt-top-left, #paraColumnHeroVideo.hero-txt-middle {
        .field--name-field-text-overlay {
            .field--item {
                font-size: 66pt;
                line-height: 68px;
            }
        }
    }
    #paraColumnHeroImage.hero-txt-top-left, #paraColumnHeroImage.hero-txt-middle {
        .field--name-field-overlay-text {
            .field--item {
              font-size: 66pt;
              line-height: 68px;
            }
        }
    }
}
