/* PROGRAM FINDER P-TYPE */

.program-title {
    @media (min-width: 768px) {
        .col-sm-4 {
            width: 50%;
            padding-right: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;
        }
    }
    @media (min-width: $xwide) {
        .col-sm-4 {
            height: 388px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    h1 {
        text-align: right;
        font-size: 5.7vw;
    }

    .col-sm-4 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    width: 50%;
}
.program-finder {

    .views-view-grid .views-col {
        display: flex;
        flex-direction: column;
    }
    h3 {
        text-align: left;
        padding: 0 0 5px 0;
        font-size: 24px;
        margin: 0;
        line-height: 24px;
    }
    h4 {
        line-height: 15pt !important;
        font-size: 15pt !important;
        margin: 0;
        padding: 0;
        text-align: left;

        a {
            display: block;
            padding: 8px 2px;
        }
        a:hover {
            //padding: 15px 15px;
            background: $gold;
            text-decoration: none;
        }
    }
}
.program-mba {
    h1 {}
}
.program-ad {}
.program-middle-wrap {
    @media (min-width: 768px) {
        .col-sm-4 {
            width: 25%;
        }
    }

    width: 25%;

    .col-sm-4 {
        width: 100%;
    }
}
.program-ms {
    @media (min-width: 768px) {
        .col-sm-4 {
            width: 25%;
        }
    }

    width: 25%;

    .col-sm-4 {
        width: 100%;
    }
}
.paragraph--type-program-finder-panel {
  padding-top: 60px !important;
  display: flex;
  width: 100% !important;
  margin: 0 auto;
  padding: 0;

  .bs-region--middle {
    padding: 0;
  }

  .view-id-duplicate_of_program_finder_mba_ {
    .view-content {
      padding-bottom: 20px;
    }
  }
}
.paragraph--type-program-finder-panel.row {
  width: 100% !important;
}
/* Real Mobile Code Start */

@media (max-width: $max) {
    .program-title {
        h1 {
            font-size: 5.7vw;
        }
    }
    .program-finder {
        h4 {
            line-height: 5pt;
            font-size: 17pt;
        }
    }
}
@media (max-width: $xwide) {
    .program-title {
        col-sm-4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;
        }
        h1 {
            font-size: 6.7vw;
        }
    }
    .program-finder {
        h4 {
            line-height: 5pt;
            font-size: 17pt;
        }
    }
}
@media (max-width: $widee) {
    .program-title {
        .col-sm-4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: $xsm;
        }
        h1 {
            font-size: 7vw;
        }
    }
    .program-finder {
        h3 {
            line-height: 29pt;
            font-size: 29pt;
        }
        h4 {
            line-height: 2pt;
            font-size: 13.777pt;
        }
    }
}
@media (max-width: $desktop) {
    .program-title {
        .col-sm-4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;
        }
        h1 {
            font-size: 7.7vw;
        }
    }
    .program-finder {
        a {
            padding: 0;
        }
        h4 {
            width: 201px;
            line-height: 5pt;
            font-size: 12.3pt;
        }
    }
}
@media (max-width: $tablets) {
    .paragraph--type-program-finder-panel .view-id-duplicate_of_program_finder_mba_ .view-content {
    padding-bottom: 10px;
  }
    .paragraph--type-program-finder-panel.row {
        width: 100vw !important;
        display: flex;
        flex-direction: column;
    }
    .program-middle-wrap {
        width: 100%;

        h3:hover {
          cursor: pointer;
        }

    }
    .program-ms {
        width: 100%;
        position: relative;
        right: 2.7%;

      h3:hover {
        cursor: pointer;
      }
    }

    .program-title {
        width: 100%;
        .col-sm-4 {
            height: auto;
        }
        h1 {
            text-align: center;
        }
    }
    .program-finder {
        margin: 3%;
        h3 {
            font-size: 20pt;
        }
        h4 {
            font-size: 16pt;
            line-height: 3pt;
            width: auto;
        }
    }
  //Hide MS Programs List
  body > div > div.structured-content.container > div > div > div > div:nth-child(2) > div > div.program-ms > div > div > div > div > div > div {
    display: none;
  }
  //Hide MBA Programs List
  body > div > div.structured-content.container > div > div > div > div:nth-child(2) > div > div.program-middle-wrap > div > div.program-mba > div > div > div > div > div {
    display: none;
  }

  //Hide additional programs list
  body > div > div.structured-content.container > div > div > div > div:nth-child(2) > div > div.program-middle-wrap > div > div.program-ad > div > div > div > div > div {
    display: none;
  }
}