/* Ranking Callout Element - Number*/

.rank-num-position {
    position: relative;
}
.rankings-layout {
    float: left;
}
.ranking-wrapper {
    position: relative; //padding: 0px 20px;
    //margin: 0px 100px;
}
.rank-num {
    font-family: $font-bold;
    font-size: 120pt;
    font-weight: 900; //line-height: 270pt;
    color: $dark-blue;
    max-width: 300px;
    text-align: center;
    line-height: 150px;
}
// .rank-num::before {
//   content: "#";
//   font-family: $font-bold;
//   font-size: 60pt;
//   font-weight: 900;
//   display: inline-block;
//   position: absolute;
//   max-width: 300px;
//   left: 40px;
//   top: 25px;
// }
.rank-num-subheadline {
    max-width: 300px;
    font-family: $font-bold;
    font-size: 20pt;
    font-weight: 900;
    line-height: 26pt;
    color: $dark-blue;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}
.rank-num-citation {
    font-family: $font-medium;
    font-size: 20pt;
    font-weight: 0;
    max-width: 300px;
    font-style: italic;
    word-wrap: break-word;
    position: relative;
    color: $light-blue;
}
body>div.dialog-off-canvas-main-canvas>div>div>section>div.region.region-content>div>div.col-sm-12.bs-region.bs-region--main>div:nth-child(4)>div>div>div>div:nth-child(3) {
    position: relative; //left: -10%;
}
#block-rankingcalloutnumber>div {
    position: relative; //left: -40%;
}
/* Ranking Callout Element - Text*/
.animation-element {
    opacity: 0;
    position: relative;
}

.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-left.ranktext-wrap {
    float: left;

}

.ranktext-wrap {
    position: relative;


}

.rank-text {
    font-family: $font-bold;
    font-size: 90pt;
    font-weight: 900; //line-height: 270pt;
    color: $dark-blue;
    line-height: 90pt;
    max-width: 300px;
    text-align: center;

    .field--name-field-citation-text {
        display: flex;
        //flex-direction: row;
        justify-content: center;
        align-items: inherit;
        height: auto;
    }
}
// .rank-text::before {
//   content:'“';
//   position: absolute;
//   left: 3%;
//   font-weight: 900;
// }
// .rank-text::after{
//   content: '”';
//   position: absolute;
//   right: 77%;
//   font-weight: 900;
// }
.rank-text-subheadline {
    max-width: 300px;
    font-family: $font-bold;
    font-size: 20pt;
    font-weight: 900;
    line-height: 26pt;
    color: $dark-blue;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}
.field--name-field-headline-text {
    max-width: 300px;
    font-family: $font-bold;
    font-size: 20pt;
    font-weight: 900;
    line-height: 26pt;
    color: $dark-blue;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}
.ranking--small {
    font-size: 25pt;
    height: -webkit-fill-available;
    position: relative;
    top: -28px;
    margin-right: 64%;
    padding-right: 7%;
    width: auto;
    text-transform: uppercase;
}
.ranking--top {
    width: auto;
    word-break: break-word;
    overflow: visible;
    flex-direction: column;
    text-transform: capitalize;
    margin-right: 14%;
}
.pound-sign {
    font-family: "Proxima Nova ExtraBold";
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
}
.rank-text-citation {
    font-family: $font-medium;
    font-size: 14pt;
    font-weight: 0;
    max-width: 300px;
    font-style: italic;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    color: $light-blue;
}
.no-italics {
    font-family: $font-medium;
    font-style: normal !important;
    color: $light-blue;
}
/* Mobile CSS Starts HERE */

@media (max-width: $tablets) {
    .ranking--small {
        font-size: 16pt;
        margin-right: unset;
        padding-right: unset;


    }
    .ranking--top {
        word-break: unset;
        flex-direction: row;
        margin-right: unset;
        padding-bottom: 10%;
        word-spacing: -25px;

    }

    .pound-sign {
        line-height: 1.2;
        font-size: 25pt;
        font-weight: 300;
        position: relative;
        bottom: 35px;
    }
    .rank-text {
        font-size: 90px;
        text-align: left;
        line-height: 20px;
        margin-top: 25%;
    }
    .rank-text-citation {
        font-size: 20px;
        line-height: 1;
        text-align: left;
    }
    .rank-text-subheadline {
        font-size: 22px;
    }
    body > div > div.structured-content.container > div > div > div > div:nth-child(3) > div > div > div > div:nth-child(4) > div > div > div.rank-text > div > div {
        margin-bottom: 20pt;
    }
    .field--name-field-headline-text {
        font-size: 22px;
        text-align: left;
        line-height: 20pt;

    }
    .ranktext-wrap {
        p {
            margin: unset;
        }
    }
}