/* Button Layout P-type */

.rankings-layout {
    .container {
        margin-left: unset;
        margin-right: unset;
        width: auto !important;
    }
    .paragraph {
        display: flex;
    }
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px; //flex-flow: row wrap;
}
.paragraph--type-rankings-text {
    display: flex; //flex-wrap: wrap;
    //width: 25%;
}
@media (max-width: $desktop) {
    .paragraph {
        //margin: unset;
    }
    .rankings-layout {
        flex-wrap: wrap; //flex-flow: row wrap;
        .row {
            //margin: unset;
            width: 50vw !important;
        }
    }
    .paragraph--type-rankings-text {
        //flex: 1 1 50% !important;
        width: 50vw !important;
    }
}
@media (max-width: $tablets) {
    .rankings-layout {
        padding: 0 4%;
        .paragraph {
            margin-left: -20px !important;
            margin-right: -20px !important;
        }
        .paragraph .paragraph, .paragraph .paragraph .paragraph {
            margin-left: -20px !important;
            margin-right: -20px !important;
        }
    }
}