#views-bootstrap-3-reasons-why-block-1 {
    height: auto;
    background: $light-gray;
    height: 500px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    .carousel-control {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .left.carousel-control {
        margin-left: 0;
    }
    .right.carousel-control {
        margin-right: 0;
    }
    .carousel-inner {
        .item {
            .resonswhy-container {
                .row {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .col-md-6 {
                        float: none;
                        width: 40%;
                        .inner-body {
                            padding: 0;
                            .reasonswhy-link {
                                a {
                                    font-size: 22px;
                                    color: $light-blue;
                                }
                                a:before {
                                    content: ">";
                                    color: $dark-blue;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.views-bootstrap-3-reasons-why-block-1 {
    height: 50%;
}
.reasons-why-carousel a.right.carousel-control, .reasons-why-carousel a.left.carousel-control {
    background: none;
}
.reasons-why-carousel .carousel-caption {
    display: none;
}
.reasons-why-container {
    background: $light-gray;
    width: 100%;
    height: 100%;
    display: flex;
    /*border: darkgrey 1px solid;*/
}
.reasons-why-carousel .inner-body .desc p {
    font-size: 66px;
    line-height: 66px;
    font-family: "Proxima Nova Extrabold";
    color: $dark-blue;
    padding: 0;
    margin: 0;
}
.reasons-why-carousel .num-round {
    background: $dark-blue;
    width: 48px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    height: 48px;
    vertical-align: middle;
    line-height: 46px;
    font-size: 20px;
    border-radius: 36px;
}
.reasons-why-carousel .inner-body.left {
    padding: 10% 0% 10% 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reasons-why-carousel .inner-body.right {
    padding: 15% 15% 15% 5%;
}
.reasons-why-carousel .inner-body {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.reasons-why-carousel .title {
    font-size: 88px;
    line-height: 1em;
    font-family: "Proxima Nova Extrabold";
    color: $dark-blue;
    text-transform: uppercase;
    line-height: 76px;
}
.reasons-why-carousel .secondary-title {
    font-size: 32px;
    color: $dark-blue;
    font-weight: 10;
    font-family: 'Proxima Nova Extrabold';
}
.reasons-why-carousel .reasons-why-link a {
    text-decoration: none;
    color: $light-blue;
}
.reasons-why-carousel .reasons-why-link a:hover {
    text-decoration: none;
    background: none;
}
.reasons-why-carousel .reasons-why-link {
    font-size: 15px;
    font-weight: 900;
    color: $dark-blue;
}
.reasons-why-carousel .carousel-control .glyphicon-chevron-left {
    /* margin-left: -10px; */
    left: 10px;
    font-size: 42px;
    background: $dark-blue;
    width: 60px;
    height: 80px;
    line-height: 80px;
}
.reasons-why-carousel .carousel-control {
    opacity: unset;
}
.reasons-why-carousel .carousel-control .glyphicon-chevron-right {
    /* margin-left: -10px; */
    right: 10px;
    font-size: 42px;
    background: $dark-blue;
    width: 60px;
    height: 80px;
    line-height: 80px;
}
.reasons-why-carousel .carousel-control .glyphicon {
    position: unset;
    margin: 0 auto;
}
@media (max-width: $max) {}
@media (max-width: $xwide) {}
@media (max-width: $widee) {}
@media (max-width: $desktop) {
    #views-bootstrap-3-reasons-why-block-1 {
        .carousel-inner {
            .item {
                .resonswhy-container {
                    .row {
                        .col-md-6 {
                            .inner-body {
                                .title {
                                    font-size: 8.5vw;
                                    line-height: 8.5vw;
                                }
                                .desc {
                                    p {
                                        font-size: 6.5vw;
                                        line-height: 6.5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: $tablets) {
    #views-bootstrap-3-reasons-why-block-1 {
        div.carousel-inner {
            .item {
                .resonswhy-container {
                    .row {
                        display: flex;
                        flex-direction: column;
                        .col-md-6 {
                            float: none;
                            width: 80%;
                            margin: 0 auto;
                            text-align: center;
                            .inner-body {
                                .num-round {
                                    display: none;
                                }
                                .desc {
                                    p {
                                        text-align: center !important;
                                    }
                                }
                                .title {}
                            }
                        }
                        .col-md-6:first-child {
                            padding-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}