$mobile : "screen and (max-width: #{$screen-xs-max})";
$tablet : "screen and (max-width: #{$screen-sm-min})";
$normal : "screen and (min-width: #{$screen-md-min})";
$wide : "screen and (min-width: #{$screen-lg-min})";
$grid-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";
.headerWideWidth {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding-top: 0px;
    background-color: $light-gray;
    max-height: 50px;
    position: fixed;
    top: 80px;
    z-index: 100;
    left: 0;

    .region.region-header-wide-width {
        display: flex;
        max-width: $wide-width-max-width;
        margin: 0 auto;
        width: 100%;
        justify-content: flex-start;
    }
}

@media #{$mobile} {}
@media #{$tablet} {
    div.headerWideWidth {
        padding-top: 0px;
    }
    .region.region-header-wide-width {
        flex-direction: column;
    }
}
@media #{$normal} {}
@media #{$wide} {}