$mobile: "screen and (max-width: #{$screen-xs-max})";
$tablet: "screen and (max-width: #{$screen-sm-min})";
$normal: "screen and (min-width: #{$screen-md-min})";
$wide: "screen and (min-width: #{$screen-lg-min})";
$grid-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";
//Breadcrumbs
body>div.dialog-off-canvas-main-canvas>div.main-container.container.js-quickedit-main-content>div>div.col-sm-10>div>ol>li:nth-child(2)>a:nth-child(1) {
    display: none;
}
.breadcrumb {
    position: relative;
    font-family: $font-bold;
    background-color: $light-gray;
    height: 50px;
    padding: 14px 0px 12px 20px;
    /*
  box-shadow: -230px 0px 0px 0px $light-gray;
  */
    z-index: 1;
    border-radius: 0px;
    text-transform: capitalize;
    a {
        color: $dark-blue;
        text-decoration: none;
        padding-left: 5px;
    }
    li a:first-child::after {
        //content: ">";
        padding-left: 5px;
    }
}
.breadcrumb>li+li::before {
    content: ">";
    padding: 0 5px;
    color: $dark-gray;
}
body>div.dialog-off-canvas-main-canvas>div>div>div.col-sm-10>div>ol>li:nth-child(1)>a:nth-child(1)::after {
    //content: ">";
    padding-left: 5px;
}
/* FTMBA Secondary Nav */

#block-simon-sass-mainnavigation-11, #block-simon-sass-mainnavigation-12, #block-simon-sass-mainnavigation-13 {
    width: 100%;
    height: auto;
    max-width: 315px;
    flex: 1 1 0;
}
#block-simon-sass-mainnavigation-11>ul>li:nth-child(2), #block-simon-sass-mainnavigation-12>ul>li:nth-child(2), #block-simon-sass-mainnavigation-13>ul>li:nth-child(2), #block-simon-sass-mainnavigation-11>ul>li:nth-child(3), #block-simon-sass-mainnavigation-12>ul>li:nth-child(3), #block-simon-sass-mainnavigation-13>ul>li:nth-child(3) {
    display: none;
}
#block-simon-sass-mainnavigation-11>ul, #block-simon-sass-mainnavigation-12>ul, #block-simon-sass-mainnavigation-13>ul {
    font-family: $font-bold;
    position: relative;
    z-index: 3;
    height: auto;
    width: 100%;
    padding-left: 0px;
    background-color: $dark-blue;
    color: #fff;
    float: none;
    padding-left: 0px;
    li {
        width: 100%;
        a {
            color: #fff;
            background-color: $light-blue;
            min-width: 250px;
        }
        a.dropdown-toggle {
            background: url("/sites/default/files/2018-05/arrow_submenu_down.png");
            background-repeat: no-repeat;
            background-position: center right;
            min-width: auto;
            margin-right: 20px;
            cursor: pointer;
            .caret {
                display: none;
            }
        }
        ul {
            background-color: $light-blue;
            li.expanded {
                /*
                background-image: url("/sites/default/files/2018-08/secondary_nav_down_arrow.png");
                background-repeat: no-repeat;
                background-position: right center;
                */
                flex: 1 1 0;
            }
            li.expanded {
                display: flex;
                max-width: 315px;
                width: 100%;
                justify-content: space-between;
                span.childMenuSpan {
                    text-align: center;
                    cursor: pointer;
                    width: 30px;
                    background: url("/sites/default/files/2018-08/secondary_nav_down_arrow.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent;
                    margin-right: 15px;
                }
            }
            li.expanded:hover {
                a {
                    //color: $dark-blue;
                    color: #FFF; //background: $gold;
                }
                span.childMenuSpan:nth-child(1) {
                    background-color: $gold;
                }
            }
            li.expanded:hover {
                background: $gold;
            }
            ul {
                li.expanded {
                    span.childMenuSpan {
                        text-align: center;
                        cursor: pointer;
                        width: 30px;
                        background: url("/sites/default/files/2018-09/sub_nav_down_arrow.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-right: 15px;
                        display: block;
                    }
                }
                li {
                    span.childMenuSpan {
                        display: none;
                    }
                }
            }
        }
        ul.dropdown-menu {
            max-width: 315px;
            width: 100%;
            li {
                a {
                    padding: 11px 20px;
                }
                ul.dropdown-menu {
                    li a:hover {
                        background-color: #ffb800 !important;
                    }
                    li {
                        ul.dropdown-menu {
                            li {
                                a {
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    :hover {
        /*background-color: lighten($dark-blue, 5%);*/
    }
}
#block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active.open {
    a.dropdown-toggle {
        background: url("/sites/default/files/2018-05/arrow_submenu_up.png");
        background-repeat: no-repeat;
        background-position: center right;
        min-width: auto;
        margin-right: 20px;
        cursor: pointer;
    }
}
.caret {
    // display: none;
}
/*
#block-simon-sass-mainnavigation-11, #block-simon-sass-mainnavigation-12, #block-simon-sass-mainnavigation-13 > ul::after {
  content: url("/sites/default/files/2018-05/arrow_submenu_down.png");
  position: absolute;
  right: -20%;
  top: 40%;
  display: none;
}
*/

.dropdown-menu {
    //position: relative;
    padding: 0px 0px; //left: -20px;
    //display: block;
}
#block-simon-sass-mainnavigation-11>ul::before, #block-simon-sass-mainnavigation-12>ul::before, #block-simon-sass-mainnavigation-13>ul::before {
    content: "";
    box-shadow: 100px 0px 0px 0px $light-gray;
}
body>div.dialog-off-canvas-main-canvas>div>div>div.col-sm-10>div>ol>li:nth-child(2) {
    display: none;
}
body>div.dialog-off-canvas-main-canvas>div>div>div.col-sm-10>div>ol {
    color: $light-gray;
}
#block-simon-sass-mainnavigation-11>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>a>li, #block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>a>li, #block-simon-sass-mainnavigation-13>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>a>li {
    display: block;
}
#block-simon-sass-mainnavigation-11>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>ul>li, #block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>ul>li, #block-simon-sass-mainnavigation-13>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>ul>li {
    display: flex;
}
#block-simon-sass-mainnavigation-11>ul>li.expanded.dropdown.active>ul>li:hover, #block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active>ul>li:hover, #block-simon-sass-mainnavigation-13>ul>li.expanded.dropdown.active>ul>li:hover {
    .dropdown-menu {
        position: relative;
        display: inline-block;
        left: 0%;
        min-width: 250px;
        background-color: $light-gray;
        width: 100%;
        a {
            background-color: $light-gray;
            color: $dark-blue;
        }
    }
}
#block-simon-sass-mainnavigation-11>ul>li.expanded.dropdown.active>ul>li, #block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active>ul>li, #block-simon-sass-mainnavigation-13>ul>li.expanded.dropdown.active>ul>li {
    .dropdown-menu {
        position: relative;
        display: none;
        left: 0%;
        min-width: 250px;
        background-color: $light-gray;
        width: 100%;
        a {
            background-color: $light-gray;
            color: $dark-blue;
            flex: 1 1 0;
        }
    }
}
#block-simon-sass-mainnavigation-11>ul>li.expanded.dropdown.active>ul>li.expanded.active, #block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active>ul>li.expanded.active, #block-simon-sass-mainnavigation-13>ul>li.expanded.dropdown.active>ul>li.expanded.active {
    .dropdown-menu {
        position: relative;
        display: inline-block;
        left: 0%;
        min-width: 250px;
        background-color: $light-gray;
        color: $dark-blue;
        width: 100%;
        a {
            background-color: $light-gray;
            color: $dark-blue;
        }
    }
}

#block-simon-sass-mainnavigation-11 ul li.expanded.dropdown.active-trail ul li.expanded, 
#block-simon-sass-mainnavigation-12 ul li.expanded.dropdown.active-trail ul li.expanded, 
#block-simon-sass-mainnavigation-13 ul li.expanded.dropdown.active-trail ul li.expanded {
    .dropdown-menu {
        background-color: $light-gray;
        position: relative;
        border: none;
        top: 0;
        margin-top: 0px;

        a {
            background-color: $light-gray;
            color: $dark-blue;
        }
    }
}

#block-simon-sass-mainnavigation-11>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>ul>li>a {
    //background-color: $light-gray;
}
#block-simon-sass-mainnavigation-12>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>ul>li>a {
    //background-color: $light-gray;
}
#block-simon-sass-mainnavigation-13>ul>li.expanded.dropdown.active.open>ul>li.expanded.active>ul>li>a {
    //background-color: $light-gray;
}
@media #{$mobile} {}
@media #{$tablet} {
    h1.page-header {
        margin: 160px auto 20px;
    }
    #block-simon-sass-mainnavigation-11, #block-simon-sass-mainnavigation-12, #block-simon-sass-mainnavigation-13 {
        width: 100%;
        max-width: 100%;
        ul {
            margin: 0 auto;
            li {
                a.dropdown-toggle {
                    padding-left: 20px;
                    padding: 20px 5%;
                }
                ul.dropdown-menu {
                    max-width: 100%;
                    width: 100%;
                    margin: 0 auto;
                    li.expanded {
                        max-width: 100%;
                    }
                }
                span.childMenuSpan {
                    margin-right: 17px;
                }
            }
        }
    }
}
@media #{$normal} {}
@media #{$wide} {}