.style-list {
    position: relative;
    .contextual {
        display: none;
    }
    .contextual-region .contextual .contextual-links {
        display: none;
    }
    element.style {
        display: none;
    }
    p {
        //display: block;
        // max-width: $xwide;
        font-family: $font-medium;
        font-size: 16pt;
        line-height: 21pt;
        color: $dark-gray; //position: relative;
        // left: 10%;
        //right: 10%;
        clear: both;
    }
    ul {
        //display: block;
        display: block;
        max-width: 1000px;
        font-family: $font-medium;
        color: $dark-gray;
        text-align: left;
        font-size: 16pt;
        line-height: 21pt;
        position: relative; //left: 4%;
        //right: 4%;
        list-style: none;
        padding-left: 1.5em;
        text-indent: -1.1em;
        li::before {
            content: '• ';
            color: $dark-blue;
            display: inline-block;
            width: 1em;
            margin-left: 0em;
            transform: scale(1.2, 1.2);
        }
        li {
            ul {
                padding-left: 45px !important;
                li::before {
                    content: "\25CB ";
                }
            }
        }
    }
    ol {
        display: block;
        max-width: 1000px;
        font-family: $font-medium;
        color: $dark-gray;
        text-align: left;
        font-size: 16pt;
        line-height: 21pt;
        position: relative; //left: 4%;
        //right: 4%;
        list-style: none;
        counter-reset: li;
    }
    li {
        counter-increment: li
    }
    li::before {
        content: counter(li)'. ';
        color: $dark-blue; //display: inline-block;
        width: 1em;
        margin-left: 1em;
        padding-right: 10px;
    }
}
/*
.style-list strong{
  float: left;
padding-left: 24px;
width: 100%;
}
.style-list h4,
.style-list p,
.style-list,
.style-list ul,
.style-list ul li{
width:100%;
float:left;
}
.style-list ul li>span{
 width: calc(100% - 40px);
float: left;
}*?

/* Buttons in mobile viwew needed 30px padding */

.paragraph>.paragraph__column {
    padding-bottom: 30px;
}
/* Graduates element alignment */

.view-where-our-graduates-go .views-row {
    padding: 0% 10% 0% 10%;
}
/* Buttons padding in mobile view */

@media(max-width:768px) {
    .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__4col {
        width: 100%;
    }
}
/* bullets indentions */

.paragraph__column h4 {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.paragraph__column {
    .field--name-bp-text {
        h4 {
            padding-left: 0px;
        }
    }
}
.style-list .bs-region ul, .style-list .bs-region {
    //padding:10px;
    padding-bottom: 10px;
}
.style-list .bs-region ul li::before {
    float: left;
}
.style-list .bs-region ul li>span {
    width: calc(100% - 22px);
}