$stories-counter: view-duplicate-of-stories-directory;
$story: node--view-mode-stories-directory-view;
$name: top-left-style;
$date: top-right-style;
$organization: top-middle-style;
$featured: top-style;
$stories_wrapper: block-simon-sass-views-block-stories-directory-block-1;
$dropdowns: views-exposed-form-stories-directory-block-1;
$paragraph: middle-style;
.#{$stories-counter}, .#{$featured}, .#{$name}, 
.#{$name}::after, .#{$organization}, .#{$date}, 
.#{$date}::after, .#{$paragraph} {
	font-family: $font-bold;
}
.middle-wrapper, 
.#{$name} .field--type-string::after, 
.#{$date} .field--type-integer::after  {
	color: $dark-blue;
	font-size: 14px;
}
.#{$stories-counter}, .#{$story}, 
.#{$featured} img, .middle-wrapper {
	position: relative;
}

#block-simon-sass-views-block-stories-directory-block-1 {
	display: flex;
	justify-content: center;
}
/* Stories Directory CSS */ 
##{$stories_wrapper} { /* entire stories wrapper */
  margin-top: -100px;
  margin-bottom: 100px;
}
##{$dropdowns} {	
  margin-left: 14px;
  @media screen and (max-width: 1120px) {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .form-group {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 14px;
      margin-bottom: 0px;
    }
  }
  .form-group {
    margin-right: 10px;
    .select-style {
     height: 42px;
     width: 300px;
     option {
       font-family: $font-bold !important;
       background-color: $dark-blue;
       color: #fff;
       text-indent: 10%;
       overflow: hidden;
       float: left;
       display: flex;
       justify-content: center;
       align-items: center;
     }
   }
 }
}
.#{$stories-counter} { /* stories counter */
  font-size: 40pt;
  height: 100px;
  left: calc(50% - 750px);
  position: relative;
  top: 20px;
  margin-bottom: 100px;
  color: $dark-blue;
  height: 50px;
  .views-infinite-scroll-content-wrapper {
    height: 50px;
  }
  ul {
    list-style-type: none;
  }
  @media screen and (max-width: 1520px) {
    left: 10px;
  }
  @media screen and (max-width: 1120px) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
.#{$story} { /* each story insert */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px;
  margin-bottom: 50px;
  @media screen and (max-width: 1120px) {
   width: auto;
 }
 * {
   padding: 0  // begone annoying padding
 }
 @media screen and (max-width: 730px) {
   width: 96vw;
 }
}
.views-col {
  @media screen and (max-width: 1120px) {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}
.#{$featured} {				// image + headline
	position: relative;
	margin-top: 55px; 
	max-width: 730px;
	img {
		width: 100%;
		height: auto;
	}
	.#{$featured}-headline {
		font-size: 32px;
		line-height: 26px;
		color: $light-blue;
		margin-top: 16px; 
		margin-bottom: 0px; 
	}
}
.middle-wrapper {			// person, date, association
	position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
  font-size: 18px;
  .#{$organization} {
   order: 2; 
 }
 .#{$name} .field--type-string::after, // commas around date
 .#{$date} .field--type-integer::after {
   content: ","; 
   margin-right: 3px;
 }
}
.#{$paragraph} {
  font-size: 18px;
  color: #4D6463;
  max-width: 730px;
  font-family: 'proxima nova medium';
}
