.story-image{
  img {
   // margin-left: 25%;
  }
}

.story-quote-view {
  margin: 0 15%;
  .quote-text {
    margin: 0 10%;
  }
}

.story-body {
  margin-top: 3%;
p {
  margin: 0 25%;
}
}

@media (max-width: $tablets) {
  .story-image{
    img {
      margin-left: 7%;
    }
  }

}
