//Table Element Styling
table {
    font-family: $font-bold;
    border-collapse: separate !important;

    border-spacing: 5px !important;
    text-align: center !important;
    color: $dark-blue !important;
}

thead {

    background-color: $dark-gray;
        color: #fff;
        font: $font-bold;
        font-size: 15pt;
        text-align: center !important;
}

tbody {

    $background-color: $light-gray;

}

#tablefield-0 > tbody {
    background-color: $light-gray;
    font-size: 15pt;
    font-weight: 600;
}



.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 20px !important;
    }



@media (max-width: $tablets) {
  #tablefield-0 > tbody {
    font-weight: unset;
  }
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 1px !important;
  }
  table {
    border-spacing: unset !important;
    font-family: $font-medium;

  }
  .table-responsive {
    overflow-x: hidden !important;
    border: 1px solid white !important;
  }
  .col_1 {
    display: none;
  }
  .col_0 {
    font-family: $font-bold !important;
    color: $dark-blue !important;

  }
  .col_2,.col_3 {
    font-family: $font-medium !important;
    color: $dark-gray !important;


  }

  td.row_1.col_2::before,td.row_2.col_2::before,td.row_3.col_2::before,td.row_4.col_2::before,td.row_5.col_2::before {


      content: "Application due";
      display: inline-block;
      margin: 0 10px 0 0;

  }

  td.row_1.col_3::before,td.row_2.col_3::before,td.row_3.col_3::before,td.row_4.col_3::before,td.row_5.col_3::before {


      content: "Notification by";
      display: inline-block;
      margin: 0 10px 0 0;

  }


  thead {
    display: none;
  }

  tbody {
    background: white !important;

  }
  td {
    border-top: unset !important;

    color: $dark-gray;

  }
  tr {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0;
  }

}
