/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./simon_sass/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$golden-hover:	#FFBB00;
$dark-blue: #00396D;
$gold: #FFBB00;
$dark-gray: #4D6463;
$light-blue: #356C96;
$slight-gray: #f5f5f5;
$light-gray: #E4E7E7;
$font-bold: "Proxima Nova ExtraBold";
$font-medium: "Proxima Nova Medium";

$wide-width-max-width: 1260px;
//Media Query Breakpoints

$xsm : 420px;
$tablets : 768px;
$desktop : 992px;
$widee : 1200px;
$xwide : 1500px;
$max : 1800px;
