.no-italics {
    font-style: normal;
}
picture {
    display: flex;
    justify-content: center;
}
/* Structured Content Block Region CSS */

.structured-content.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.structured-content.container>div {
    margin-left: 0;
    margin-right: 0;
}
.structured-content.container>div>div {
    padding-left: 0;
    padding-right: 0;
}
/* All Topics  - Stories Directory */

#views-exposed-form-stories-directory-block-1>div>div.form-item.js-form-item.form-type-select.js-form-type-select.form-item-tid-2.js-form-item-tid-2.form-group {
    margin-right: 10px;
}
/* Nav Collapsable - block region */

navbar-collapse {
    background-color: #fff;
    color: #fff;
}
body>div.dialog-off-canvas-main-canvas {
    background-color: #fff;
}
/* FTMBA Secondary Nav */

#block-simon-sass-mainnavigation-12>ul>li:nth-child(2), #block-simon-sass-mainnavigation-12>ul>li:nth-child(3) {
    display: none;
}
/* Accordion Override */

.paragraph--bp-accordion--container .bp-accordion--button {
    display: none
}
/* button width and height and styling*/

a {
    font-family: $font-bold;
    color: $dark-blue;
    text-decoration: none; //font-size: 18pt;
    //line-height: 24pt;
}
/* Line under H1 and adding padding below h1 */

.page-header {
    padding-bottom: 65px;
    max-width: $wide-width-max-width;
    margin: 200px auto 20px;
    border-bottom: 0px solid #eeeeee;
}
/* Correcting Height of Hobsons From */

#hobson-iframe .hobsonsshortform iframe {
    height: 620px !important;
}
/* Large Body Text style on WYSIWIG */

.largebody {
    font-family: $font-medium;
    font-size: 21pt;
    line-height: 24pt;
    color: $dark-gray;
    text-align: center;
}
@media only screen and (max-width: $tablets) {
    .largebody {
        font-family: $font-medium;
        font-size: 20pt;
        color: $dark-gray;
        text-align: center;
       
    }
}
/* h2 min width and padding */

h2 {
  font-family: $font-bold;
  font-size: 66pt;
  line-height: 68pt;
  color: #00008B;
  text-align: center;
  padding-bottom: 10pt;
  padding-top: 75px;
}
/* H1  spacing*/

h1 {
    padding-bottom: 25px !important;
}
@media only screen and (max-width: $tablets) {
    .h3 {
        font-size: 23pt;
    }
}
/* Padding for paragrapgh spacing*/

p {
    padding: 6px 0px;
}
/*  Making Font size as 20px for Bullets/numbered text */

.style-list.ul {
    font-size: 20pt;
}
/* Adding 10px padding for normal body paragrapgh */

.style-list.p {
    font-size: 20pt;
}
/* Story carousel width */

@media(min-width:1200px) {
    story-carouser-unique.container {
        width: $xwide;
        max-width: 100%;
    }
}
/* Story carousel height */

@media(min-width:1200px) {
    #lightSlider {
        height: auto !important;
    }
}
/* Paragraph Type Padding */

.paragraph--bp-accordion-container {
    padding-top: 0;
}
.paragraph.paragraph--width--wide>.paragraph__column {
    float: none;
    width: 83.33333333%;
    max-width: $wide-width-max-width;
    margin: 0 auto;
}
.lslide {
    max-width: 360px;
    /*width: 100% !important;*/
    height: auto;
}
.slider-body {
    position: relative;
    height: auto;
    max-width: 375px;
}
.gallery li img {
    height: auto;
    max-width: 375px;
    display: block;
    padding: 0;
}
//FTMBA - Admissions - Partnerships
.node-208, .node-209 {
    .node--type-page {
        .paragraph--type--bp-columns {
            .paragraph__column {
                .paragraph--type--bp-columns__3col, .paragraph--type--bp-columns__2col {
                    .paragraph--type--bp-image {
                        .field--name-bp-image-field.field--type-image {
                            img {
                                margin: 0 auto;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal-content {
    width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
}
.modal-dialog {
    width: 90%;
    height: 100% !important;
}
//Center Align Content
body>div>div.structured-content.container>div>div>div>div:nth-child(2)>div:nth-child(3)>div>div>div {
    h3 {
        p {
            text-align: center;
        }
    }
}
//Center Easychart Graphs
#highcharts-7 {
    margin: 0 15%;
}
.highcharts-container {
    width: 1260px !important;
    text {
        font-family: $font-bold;
        font-size: 18px !important; //color: $dark-blue;
    }
}
@media (max-width: $tablets) {
    #highcharts-7 {
        margin: auto;
    }
    .highcharts-container {
        width: unset;
        text {
            font-family: $font-bold;
            font-size: unset; //color: $dark-blue;
        }
    }
}
//FTMBA Learn More Link (below chart)
/*
body > div > div.structured-content.container > div > div > div > div:nth-child(2) > div:nth-child(12) {
    position: relative;
    bottom: 50px;
}
*/

//Center Text Under Subhead
h3+p {
    text-align: center;
}
//Rankings Background Color FTMBA
body>div>div.structured-content.container>div>div>div>div:nth-child(2)>div:nth-child(4)>div {
    background: rgba(246, 247, 247, 1);
}
//Left Align All Text - Mobile
@media (max-width: $tablets) {
    .paragraph {
        p {
            text-align: left;
        }
    }
    h2, h3, h4, h5 {
        text-align: left !important;
    }
}
//FTMBA Get TO Know us -align left
body>div>div.structured-content.container>div>div>div>div:nth-child(2)>div:nth-child(16)>div>div>div:nth-child(1)>div>div>div>div>h1 {
    text-align: left !important;
}
