@font-face {
    font-family: proximanova_extrabld;
    src: url(../fonts/proximanova_extrabld.otf);
    src:url('../fonts/proximanova_extrabld.otf') format('otf');
}

@font-face {
    font-family: proximanova_medium;
    src: url(../fonts/proximanova_medium.otf);
    src:url('../fonts/proximanova_medium.otf') format('otf');
}


@font-face {
    font-family: proximanova_mediumit;
    src: url(../fonts/proximanova_mediumit.otf);
    src:url('../fonts/proximanova_mediumit.otf') format('otf');
}




h1{
    font-family:proximanova_extrabld;
    font-size:85px;
    line-height:76px;
    color:#00396D;
    text-align:center;
    text-transform:uppercase;
}
.div-container .row{
    padding: 75px 100px;
}
.banner-img{
    text-align:center;
}
.banner-quote{
    color:#4D6463;
    font-family:proximanova_medium;
    font-size:58px;
    text-align:center;
    padding-top:10px;
}
h2 {
    font-family:proximanova_extrabld;
    font-size:66px;
    line-height:68px;
    color:#00396D;
    text-align:center;
    padding-bottom:10px;
}
h3 {
    font-family:proximanova_extrabld;
    font-size:36px;
    line-height:40px;
    color:#00396D;
    text-align:center;
    padding-bottom:10px;
}
h4 {
    font-family:proximanova_extrabld;
    font-size:24px;
    line-height:26px;
    color:#00396D;
    text-align:center;
    padding-bottom:10px;
}
.content-block .content-img-center{
    padding:10px 0px;
    text-align:center;
}
.div-container img{
    width:100%;

}
.arrow-link{
    font-family:proximanova_extrabld;
    font-size:20px;
    line-height:29px;
    color:#356C96;
}
.arrow-link:hover{
    color:#00396D;

}
.normal-link{
    font-family:proximanova_extrabld;
    font-size:20px;
    line-height:29px;
    color:#00396D;
}
.normal-link:hover{
    color:#00396D;
}
.large-link{
    font-family:proximanova_extrabld;
    font-size:36px;
    line-height:40px;
    color:#356C96;  
}
.large-link:hover{
    color:#00396D;

}

.large-imgtxt-link{
    font-family:proximanova_extrabld;
    font-size:36px;
    line-height:40px;
    color:#FFFFFF;
}
.btn-txt{
    font-family:proximanova_extrabld;
    font-size:20px;
    text-align: center;
    color:#00396D;

}
.custom-btn{
    min-width: 240px;
    min-height: 50px;
    color:#00396D;
    background-color:#ffbc00;
    padding: 10px;
}

.bg-blue{
    /*background-color:*/  
}

/*    Accordian styles starts       
.paragraph.paragraph--type--bp-accordion .panel-heading a.collapsed {
color: #00396D;
border-bottom:2px solid #4D6463;
}
.paragraph.paragraph--type--bp-accordion .panel-heading a {
font-size: 24px;
line-height: 35px;
text-decoration: none;
color: #00396D;
font-family:proximanova_extrabld;
}

.panel-collapse.collapse.in{
padding-left:12px;
color:#4D6463;
font-size: 20px;
line-height: 29px;
font-family:proximanova_medium;
border-bottom:2px solid #4D6463;
}

.paragraph--bp-accordion--container .panel-default > .panel-heading {

background-color: #fff;
}

.paragraph.paragraph--type--bp-accordion .panel-heading a:not(.collapsed):before {
content:"\f0d7";	
margin-left:0px;
}

.paragraph.paragraph--type--bp-accordion .panel-heading a.collapsed:before {
content:"\f0da";
margin-left:5px;
}



/*    Accordian styles ends    */




/*}Alumini block CSS starts*/


/* Accordian admissions */

/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    color: #4D6463;
    font-family:proximanova_medium;
    border-bottom:2px solid #4D6463;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #00396D;
    font-family:proximanova_extrabold;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 24px;
}

.panel-title > a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: left

        /* Title header csss*/




}
.panel-body{
    /*Body CSS*/


}
.panel-title img{
    float: left;
    height: 30px;
    margin: 6px 10px;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */


.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}
/*     */




ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #333;
    width: 100%;
}

ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #666;
    color: #ccc;
    overflow: hidden;
    position: relative;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}

ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}

.tab_container {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}

.tab_content {
    padding: 20px;
    display: none;
}

.tab_drawer_heading { display: none; }

input.cust-btn{
    padding:10px;
    background-color:#FFBC00;
    color:#00396D;
    min-width:240px;
    min-height:50px;

}

@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
    /*}Alumini block CSS ends*/
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #333;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #666;
    color: #ccc;
    overflow: hidden;
    position: relative;
}
.tab_last { border-right: 1px solid #333; }
ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}
ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}
.tab_container {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}
.tab_content {
    padding: 20px;
    display: none;
}
.tab_drawer_heading { display: none; }
@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
}
/*  Mobile CSS starts Here   */
@media only screen and (max-width:768px){

    .div-container .row{
        padding: 15px 20px;
    }
    h1{
        font-size:35px;
        line-height:37px;
    }
    h2{
        font-size:25px;
        line-height:28px;
    }
    arrow-link{
        font-size:16px;
        line-height:22px;
    }
    .normal-link{
        font-size:16px;
        line-height:22px;
    }
    .large-link:hover{
        font-size: 23px;
        line-height: 25px;    
    }
    .large-imgtxt-link{
        font-size:23px;
        line-height:25px;

    }
    .btn-txt{
        font-size:16px;
    }
    .custom-btn{
        min-width: 282px;
        min-height: 46px;
    }
}
input.cust-btn{
    color:#00396D;
    min-width:16px;
}






/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

}

/*  Story Board css starts    */
.storycontainer {
    position: relative;
    font-family:Proxima Nova ExtraBold;
}

.storycontainer .text-block-video .video-link a {
    background: url(../images/video.png) no-repeat center;
    width: 95px;
    height: 95px;
    display: block;
}
.storycontainer .text-block-video .video-link a:hover {
    background: url(../images/video_rollover.png) no-repeat center; 
    width: 95px;
    height: 95px;
    display: block;
}
.storycontainer .text-block-video {
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 164px;
    padding: 20px;
}
.storycontainer .story-txt-top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    color: FFFFFF;
    padding: 20px;
    font-size: 160px;
    line-height: 164px;
    word-wrap: break-word;
    color: #fff;
    width: 92%;
}
.storycontainer .story-txt-middle {
    position: absolute;
    top: 40%;
    /*    left: 20px;*/
    text-align: center;
    width: 92%;
    /*background-color: black;*/
    word-wrap: break-word;
    color: white;
    padding-left: 20px;
    font-size: 160px;
    line-height: 164px;
    padding-right: 20px;

    /*  Story Board css ends    */
}
.quote-txt{
    font-size:24px;
    line-height: 50px;

}
.quote-txt{
    font-family:proximanova_extrabld;
    font-size:24px;
    text-align: center;
    color:#4D6463;
    line-height: 50px;

}
@media only screen and (max-width:768px){
    .quote-txt{
        font-size:24px;
        line-height: 50px;

    }
}



/*  Add button CSS starts    */
.field--name-field-add-button.field--type-link a {
    color: #fff;
    background: black;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    min-width: 240px;
    height: 50px;
    text-align: center;
}
.field--name-field-add-button.field--type-link a:hover {
    
}
.field--name-field-add-button{
    margin: 15px;
    text-align: center;
}
/*  Add button CSS ends    */
