{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li {{ item.attributes }}>
        {% if item.url or item.text == 'Full time mba' %}

          <a href= "{{ item.url }}">{{ item.text|replace({'mba': MBA, 'mba': "MBA"}) }}</a>
        {% elseif item.url %}
          <a href= "{{ item.url }}">{{ item.text }}</a>

          {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
