.header {
    height: 60px;
}

.header h1 {
    font-size: 1.8em;
}

.header img {
    width: 120px;
    height: auto;
}

.profile {
    height: 360px;
    width: 130px;
}

.profile img {
    max-width: 140px;
    height: auto;
}

.main-body {
    padding-top: 60px;
}
