body {
    position: relative;
    background-color: white;
    color: black;
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    color: white;
}

p {
    font-size: 8px;
    line-height: 10px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.container-fluid {
    padding: 0px;
}

.row {
    margin: 0px;
}

.main-body {
    padding-top: 20px;
    padding-bottom: 200px;
}

.mobile-space {
    padding-bottom: 485px;
}

.thumbnail {
    font-size: 65%;
    color: black;
    height: 225px;
    width: 80px;
    border: 0px;
    margin: 10px;
}

.thumbnail img {
}

.list-group-item {
    padding: 5px;
    background-color: white;
    color: black;
    border: none;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #aaaaaa;
}

.list-group-item.active {
    margin-top: 10px;
    color: black;
    background-color: white;
    border-bottom: 2px solid black;
    font-weight: bold;
    border-radius: 0px;
}

.list-group-item.active:hover {
    background-color: #2661c8;
    color: white;
    border-bottom: 2px solid #2661c8;
}

/**********/
/* Header */
/**********/

.header {
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.header h1 {
    color: black;
    text-align: center;
}

.header a:hover {
    text-decoration: none;
}

/**********/
/* Footer */
/**********/
.footer {
    width=100%;
    background-color: #efefef;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer .footer-right {
    height: 200px;
    background-color: #E2E2E2;
    padding-top: 60px;
    text-align: center;
}

.footer1 {
    margin: 15px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    margin-top: 20px;
    padding-top: 10px;
    color: #315182;
}
.footer1 ul li a {
    color: #2661c8;
}

.footer2 ul li a {
    color: #2661c8;
}
.footer2 h2 a {
    font-size: 16px;
    color: #2661c8;
    font-weight: bold;
    text-transform: uppercase;
}
