{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>
 <p class="quote-txt"><img src="/sites/default/files/icons/quote.png">
 </p>
 <div class = "quote-txt">
    {{ main.content.field_quote_1 }}
 </div>
 <div class = "sub-quote">
    {{ main.content.field_full }} , {{ main.content.field_class_of_ }} , {{ main.content.field_company }}
     </div>


  </{{ main.wrapper }}>
</{{ wrapper }}>

