{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}


<{{ wrapper }}{{ attributes }}>
{{ title_suffix.contextual_links }}
<{{ main.wrapper }}{{ main.attributes }}>
<div class="quote-txt"><img src="/sites/default/files/icons/quote.png">
</div>

<div class = "quote-txt">
    {{ main.content.field_quote }}
</div>
<div class = "sub-quote-spacing">
    <div class = "sub-quote">
        {{ main.content.field_attribution }}
        {{ main.content.field_quote_attribution }}

    </div>
</{{ main.wrapper }}>
</{{ wrapper }}>
