{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>



  	<div class = "story-image">
    {{ main.content.field_image }}
    </div>

    <div class = "story-quote-view">
    {{ main.content.field_quote_view }}
    </div>

<div class= "story-body">
    {{ main.content.body }}
</div>
<div>
    {{ main.content.field_add_panel }}
</div>


  </{{ main.wrapper }}>
</{{ wrapper }}>

