{#
/**
 * @file
 * Bootstrap Layouts: "1 Column (stacked)" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - main
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
 #}
 <{{ wrapper }}{{ attributes }}>
 {{ title_suffix.contextual_links }}


 <div class = "animation-element slide-left ranktext-wrap">


  <div class = "rank-text">
    {% if top.content %}
      <{{ top.wrapper }}{{ top.attributes }}>
      {{ top.content }}
      </{{ top.wrapper }}>
    {% endif %}
  </div>

  <div class = "rank-text-subheadline">
    {% if main.content %}
      <{{ main.wrapper }}{{ main.attributes }}>
      {{ main.content }}
      </{{ main.wrapper }}>
    {% endif %}
  </div>

  <p>  <div class = "rank-text-citation">

  {% if bottom.content %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
  {{ bottom.content }}
</{{ bottom.wrapper }}>
{% endif %}
</div>


</div> </p>


</{{ wrapper }}>
