{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>

<div class="center-event node--type-events">
<div class = "full-event-container">
 <h1> Events & Webinars </h1>


  <div class = "event-header">
  <div class = "event-image">
    {{ main.content.field_image_2 }}
    </div>

    <div class = "flex-etype">
    <div class = "event-type">
     {{ main.content.field_choose_event_type_s_ }}
    </div>
    </div>
  </div>

     <div class = "event-name">
   <h2> {{ main.content.field_event_name_ }} </h2>
    </div>

    <div class = "event-date">
    {{ main.content.field_date }}
    {{ main.content.field_event_d }}
    </div>

    <div class = "event-time">
    {{ main.content.field_time_1 }}
    </div>

    <div class= "event-body">
    {{ main.content.body }}
    </div>

    <div class = "event-hosted">
   <p> {{ main.content.field_hosted_by_ }} </p>
    </div>

    <div class = "event-location">
    {{ main.content.field_location }}
    </div>

    <div class = "reg-container">
    <div class = "event-register">
    {{ main.content.field_register }}
    </div>
    </div>


</div>
  <div class = "flex-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u=">Share on Facebook</a>

  <a href="https://twitter.com/home?status=">Share on Twitter</a>

    {{ main.content.field_add_to_ }}


  </div>

  </{{ main.wrapper }}>
</{{ wrapper }}>

</div>
