{#
/**
 * @file
 * Bootstrap Layouts: "2 Columns" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - left
 * - right
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
 #}

 <div class = "container"> 

 	<div class = "row"> 




 		<{{ wrapper }}{{ attributes }}>
 		{{ title_suffix.contextual_links }}

 		{% if left.content %}
 			<{{ left.wrapper }}{{ left.attributes }}>



 			<div class = "wrap-left">
 				<div class = "wrap-left-hug">
 					{{ left.content.field_choose_event_type_s_ }}
 				</div>
 				{{ left.content.field_image_2 }}

 			</div>



 			</{{ left.wrapper }}>
 		{% endif %}



 		<div class = "wrap-right">
 			<div class = "wrap-right-hug">

 				{% if right.content %}
 					<{{ right.wrapper }}{{ right.attributes }}>




 					<div class = "event-dir-link">
 						{{ right.content.field_event_link }}
 					</div>

 					<div class = "event-dir-right-content">
 						{{ right.content.field_event_d }}
 						{{ right.content.field_event_time_ }}
 						{{ right.content.body}}
 					</div>

 					</{{ right.wrapper }}>

 				{% endif %}

 				</{{ wrapper }}> 
 			</div>
 		</div>


 	</div> 
 </div>
