{#
/**
 * @file
 * Bootstrap Layouts: "2 Columns" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - left
 * - right
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<div class = "faculty-teaser">
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if left.content %}

  <{{ left.wrapper }}{{ left.attributes }}>
      <div class = 'faculty-teaser-left'>
    {{ left.content.field_faculty_photo }}
      </div>
  </{{ left.wrapper }}>
  {% endif %}

  {% if right.content %}
  <{{ right.wrapper }}{{ right.attributes }}>
      <div class = "faculty-teaser-right">
        <div class = "faculty-right-top">
    {{ right.content.field_full_name }}
      {{ right.content.field_fu }}
          <div class = "expertise-hover">
      {{ right.content.field_expertise }}
          </div>
        </div>
          <div class = "faculty-right-bottom">
      {{ right.content.field_full_office_location }}
      {{ right.content.field_email }}
      {{ right.content.field_phone_no }}
          </div>
      </div>
  </{{ right.wrapper }}>

  {% endif %}

</{{ wrapper }}>
</div>