{#
/**
 * @file
 * Bootstrap Layouts: "3 Columns" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - left
 * - middle
 * - right
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<div class = "flex-button">
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  <div class="g-button">
  {% if left.content %}
  <{{ left.wrapper }}{{ left.attributes }}>
    {{ left.content }}
  </{{ left.wrapper }}>
  {% endif %}
</div>

<div class="g-button">
  {% if middle.content %}
  <{{ middle.wrapper }}{{ middle.attributes }}>
    {{ middle.content }}
  </{{ middle.wrapper }}>
  {% endif %}
</div>


  {% if right.content %}
  <{{ right.wrapper }}{{ right.attributes }}>
    <div class="g-button">
    {{ right.content }}
</div>
  </{{ right.wrapper }}>
  {% endif %}


</{{ wrapper }}>


</div>


