{#
/**
 * @file
 * Bootstrap Layouts: "3 Columns (bricked)" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - top_left
 * - top_middle
 * - top_right
 * - middle
 * - bottom_left
 * - bottom_middle
 * - bottom_right
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

<div class = "column">
<div class = "row">

<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  <p class="quote-txt"><img src="http://dev.simon.rochester.edu/sites/default/files/icons/quote.png">
 </p>

  {% if top.content %}

  <div class = "quote-txt">

  <{{ top.wrapper }}{{ top.attributes }}>
    {{ top.content }}
  </{{ top.wrapper }}>
  {% endif %}

  </div>

<div class = "sub-quote-wrap">
<div class = col-md-4">

<div class = "sub-quote">
  {% if top_left.content %}
  <{{ top_left.wrapper }}{{ top_left.attributes }}>
    {{ top_left.content }}
  </{{ top_left.wrapper }}>
  {% endif %}
</div>

<div class = "sub-quote-two">
  {% if top_middle.content %}
  <{{ top_middle.wrapper }}{{ top_middle.attributes }}>
    {{ top_middle.content }}
  </{{ top_middle.wrapper }}>
  {% endif %}
</div>

<div class = "sub-quote-three">
  {% if top_right.content %}
  <{{ top_right.wrapper }}{{ top_right.attributes }}>
    {{ top_right.content }}
  </{{ top_right.wrapper }}>
  {% endif %}
</div>

</div>
</div>

  {% if middle.content %}
  <{{ middle.wrapper }}{{ middle.attributes }}>
    {{ middle.content }}
  </{{ middle.wrapper }}>
  {% endif %}

  {% if bottom_left.content %}
  <{{ bottom_left.wrapper }}{{ bottom_left.attributes }}>
    {{ bottom_left.content }}
  </{{ bottom_left.wrapper }}>
  {% endif %}

  {% if bottom_middle.content %}
  <{{ bottom_middle.wrapper }}{{ bottom_middle.attributes }}>
    {{ bottom_middle.content }}
  </{{ bottom_middle.wrapper }}>
  {% endif %}

  {% if bottom_right.content %}
  <{{ bottom_right.wrapper }}{{ bottom_right.attributes }}>
    {{ bottom_right.content }}
  </{{ bottom_right.wrapper }}>
  {% endif %}

  {% if bottom.content %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
    {{ bottom.content }}
  </{{ bottom.wrapper }}>
  {% endif %}

</{{ wrapper }}>

</div>
</div>


