{#
/**
 * @file
 * Bootstrap Layouts: "3 Columns" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - left
 * - middle
 * - right
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<div class = "faculty-full">
<{{ wrapper }}{{ attributes }}>


    <h1> Faculty </h1>
  {% if left.content %}
  <{{ left.wrapper }}{{ left.attributes }}>
    <div class="faculty-left">
    {{ left.content.field_faculty_photo }}
      <div class = "c-button">
      {{ left.content.field_cv }}
      </div>
    </div>
  </{{ left.wrapper }}>
  {% endif %}

  {% if middle.content %}
  <{{ middle.wrapper }}{{ middle.attributes }}>


      <h3>{{ middle.content.field_full_name }}</h3>
      <div class =" title"> {{ middle.content.field_fu }} </div>
      <div class="expertise-wrap">
      <h4 class = "expertise-flex"><p>Area(s) of Expertise,</p></h4>
      <div class = "target-expertise"> {{ middle.content.field_expertise}}&nbsp;</div>
      </div>
      <div class = "hide-body">
      <div class="body-text">

          <div class="body-top">
              {{ right.content.field_full_office_location }}

              {{ right.content.field_campus }}
          </div>

          {{ right.content.field_phone_no }}
          {{ right.content.field_email }}</div>

      <div class = "p-button">
          {{ right.content.field_website }}
      </div>
      <div class = "p-button">
          {{ right.content.field_ssrn_author }}
      </div>
      <div class="p-button">
          {{ right.content.field_google_ }}
      </div>
      </div>

      <h4>Bio</h4>
      {{ middle.content.field_bio }}
    {#  {{ middle.content.group_publications }} #}
      {{ middle.content.group_research_interests }}
      {{ middle.content.group_courses}}

      {{ middle.content.group_teaching_interests }}
      {{ middle.content.group_additional_section_added_by_proffesor }}

      {{ middle.content|without('field_full_name')|without('field_bio')|without('field_expertise')|without('field_fu')}}

  </{{ middle.wrapper }}>
  {% endif %}

  {% if right.content %}
  <{{ right.wrapper }}{{ right.attributes }}>
      <div class="show-body">
      <div class="body-text">
          <div class="body-top">
          {{ right.content.field_full_office_location }}

      {{ right.content.field_campus }}
          </div>

      {{ right.content.field_phone_no }}
      {{ right.content.field_email }}</div>

      <div class = "p-button">
      {{ right.content.field_website }}
      </div>
      <div class = "p-button">
      {{ right.content.field_ssrn_author }}
      </div>
      <div class="p-button">
      {{ right.content.field_google_ }}
      </div>
      </div>
  </{{ right.wrapper }}>
  {% endif %}

</{{ wrapper }}>
</div>