{#
/**
 * @file
 * Bootstrap Layouts: "3 Columns (stacked)" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - left
 * - middle
 * - right
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}



  {% if top.content %}
  <{{ top.wrapper }}{{ top.attributes }}>
    {{ top.content }}
  </{{ top.wrapper }}>
  {% endif %}


<div class="program-title">
  {% if left.content %}
  <{{ left.wrapper }}{{ left.attributes }}>
  <h1>
    {{ left.content }}
  </h1>
  </{{ left.wrapper }}>
  {% endif %}
</div>

<div class="program-middle-wrap">
  {% if middle.content %}
  <{{ middle.wrapper }}{{ middle.attributes }}>
    <div class = "program-mba">
    {{ middle.content.field_mb }}
    </div>
    <div class = "program-ad">
    {{ middle.content.field_ad }}
    </div>
  </{{ middle.wrapper }}>
  {% endif %}
</div>

<div class="program-ms">
  {% if right.content %}
  <{{ right.wrapper }}{{ right.attributes }}>
    {{ right.content.field_ms }}
  </{{ right.wrapper }}>
  {% endif %}
</div>

  {% if bottom.content %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
    {{ bottom.content }}
  </{{ bottom.wrapper }}>
  {% endif %}

</{{ wrapper }}>
