{{ attach_library('lockers/footer') }}
<section {{ attributes }}>
    <br>
    <div class="footer container-fluid">
        <div class="row">
        	<table style="width: 75%; float: left;"> <!--Table for left side -->
                <tr>
                    <td>
                        <div class="footer1">
                            <div style="text-align:left; margin: 30px;">
                                <ul id="footer_values">
                                    <li><a href="http://simon.rochester.edu/contact-us/index.aspx">Contact Us </a></li>
                                    <li><a href="http://simon.rochester.edu/news-and-media/news/index.aspx">News and Media</a></li>
                                    <li><a href="http://simon.rochester.edu/cmc/career-management-center/index.aspx">Career Management Center</a></li>
                                    <li><a href="http://simon.rochester.edu/faculty-and-research/faculty-directory/index.aspx">Directory</a></li>
                                    <li><a href="http://simon.rochester.edu/about-simon/index.aspx">About Simon</a></li>
                                    <li><a href="http://simon.rochester.edu/academic-programs/index.aspx">Programs</a></li></ul><ul id="mobile_footer_values">
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="footer2">
                            <div style="text-align:left; margin: 5px;">
                                <h4><a href="http://simon.rochester.edu/index.aspx" target="" title="Simon Business School">Simon Business School</a></h4>
                                <div class="inset">
                                    <ul>
                                        <li><a href="http://simon.rochester.edu/contact-simon/index.aspx" target="" title="Contact Simon Staff">Contact</a></li>
                                        <li><a href="http://simon.rochester.edu/apply-now/index.aspx" target="" title="Apply Now">Apply</a></li>
                                        <li><a href="https://rochmba.askadmissions.net/vip/" target="_blank">Portal Login</a></li>
                                        <li><a href="http://simon.rochester.edu/alumni/simon-school-advancement-301/giving-opportunities/index.aspx" target="" title="Giving to Simon">Give to Simon</a></li>
                                        <li><a href="http://simon.rochester.edu/sitemap/index.aspx" target="" title="Sitemap">Sitemap</a></li>
                                        <li><a href="http://simon.rochester.edu/news-and-media/news/privacy-policy/index.aspx" target="" title="Privacy Policy">Privacy Policy</a></li>
                                        <li><a href="http://simon.rochester.edu/legal/index.aspx" target="" title="Legal">Legal</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="footer2">
                            <div style="text-align:left; margin: 5px;">
                                <h4><a href="http://www.rochester.edu" target="_blank">University of Rochester</a></h4>
                                <div class="inset">
                                    <ul>
                                        <li><a href="http://www.rochester.edu" target="_blank">University of Rochester</a></li>
                                        <li><a href="http://www.rochester.edu/maps/" target="_blank">Maps</a></li>
                                        <li><a href="http://www.rochester.edu/advancement/" target="_blank">Giving</a></li>
                                        <li><a href="https://info.rochester.edu/FacultyStaffDirectory/" target="_blank">Online Directory</a></li>
                                        <br>
                                    </ul>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            </td>
            <td  valign="middle">
                <table style="float: right;"> <!-- Table for right side -->
                    <tr>
                    <td>
                    <div class="footer-left">
                        <p>University of Rochester <br />
                        Simon Business School <br />
                        254 Gleason Hall <br />
                        Rochester, NY 14627 <br />
                        United States</p>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
