{{ attach_library('photo_roster/home-display') }}
<section {{ attributes }}>
	<div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="https://simon.rochester.edu/index.aspx"><img src="/sites/default/files/simon_logo.png"></a>
				</div>
			</div>

			{% if (path('<current>')  == "/photoroster/logout") %}
			
			{% elseif ( path('<current>') == "/photoroster/login") %}

			{% elseif (path('<current>')  == "/photoroster/logon") %}

			{% else %}
				<button class="btn btn-primary" onmouseup="logout()" style="margin-left: 20px;">Logout</button>
			{% endif %}
			 <hr style="border: 2px DarkGrey; border-style: inset; width: 100%">
		</div>
	</div>
</section>
