{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}
<style>

.bg1{
background:#ccc;
}
.studentexp p{
		color:#466562;
		font-size:18px;
		line-height:30px;
}

.studentexp .strow0{
	margin:50px auto;
}
.studentexp h1{
	color:#003c74;
	font-size:60px;
	font-weight:bold;
	text-align:center;
}

.studentexp .h3{
	
}
.studentexp .bg1{
	background: #e5e7e6;
}
.studentexp .strow1 img{
	width:100%;
}
.studentexp	.strow1{
	    float: left;
    width: 100%;
    padding: 0px 20px;
}
.studentexp .row2 .row2-box p{
	
}
.studentexp .row2 .row2-box h3{

}
.studentexp .row2 .row2-box{
	margin: 30px auto;
    width: 90%;
}
.studentexp .row2 h3{
    font-size: 30px;
    margin: 25px 0px;
    font-weight: bold;
    color: #186d98;
}
.studentexp .row2{
	
}
.studentexp .row1 .h2{
    font-size: 45px;
    margin: 35px 0px;
	margin-top:100px;
    font-weight: bold;
		color:#003c74;
}
.studentexp .row1 .h4{
}
.studentexp .row1{
    margin-bottom: 20px;
    float: left;
    width: 100%;	
}
.studentexp .view-content{


}
.studentexp .views-row{
	width:50%;
	float:left;
	padding:5px;
    min-height: 330px;
	text-align:left;
}
.studentexp .views-row h3{
	text-align:left;
	font-family: "Proxima Nova ExtraBold" 
}
.studentexp .views-row:first-child h3{
font-size:50px;
margin-top:50px;
}
.studentexp .views-row:nth-child(2) .views-field-title{
	display:none;
}
.studentexp .views-row .views-field-body{
	width:95%;
}

</style>
 <div class="studentexp">
			<div class="container strow0">
				
				 {{- row.content -}}
			</div>
			<div class="bg1 strow1">
					<div class="row1">
						<div class="col-sm-12">
                                              {{drupal_view('student_experience','block_1')}}
							</div>
						
					</div>
					
			</div>
			
			<!-- row -2 -->
			<div class="strow1">
					<div class="row1">
						<div class="col-sm-12">
							
				{{ drupal_view('student_experience', 'block_2') }}

							</div>
						
					</div>
					
			</div>
			
			<div class="bg1 strow1">
					<div class="row1">
						<div class="col-sm-12">
							{{ drupal_view('student_experience', 'block_3') }}
							</div>
					</div>
			</div>
			
			<!-- row -2 -->
			<div class="strow1">
					<div class="row1">
						<div class="col-sm-12">
								{{ drupal_view('student_experience', 'block_4') }}	
						</div>
						
					</div>
					
			</div>
			
			
		</div>
		

{% endfor %}
