#datalist{
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 300px;
}
#datalist input{
  width: 100%;
  margin: 0;
  padding: 0;
}
#datalist ul{
  display: none;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  width: calc(100% - 4px);
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #282828;
  color: #ffffff;
  border-radius: 3px;
  margin: 1.6em 0 2px 0;
}

#datalist ul li{
  display: none;
  padding: .7em;
  user-select: none;
}
#datalist ul li:hover,
#datalist ul li:active,
#datalist ul li:focus{
  background-color: rgba(255,255,255,.2);
}
#submit{
  margin-left: .5em;
}
