.footer {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
    font-style: normal;
    width: 100%;
    background-color: #efefef;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    
    position: absolute;
}

#footer_values{
    text-align:left;
    padding-left: 20%;
}

.footer_values{
    text-align:left;
    margin-left: 30%;

}

.footer h4 a{
    color: #2661c8;
	font-size: 1vw;
    text-transform: uppercase;
	margin: 30px;
}

div.main_inset_left{
    width: 75%;
    float: left;
    position: relative;
    background-color: #efefef;
}

div.main_inset_right{
    width: 25%;
    float: right;
    position: relative;
}

div.inset{
	margin-left: 30%;
    background-color: #DCDCDC;
}



div .footer-left{
	background-color: #DCDCDC;
}

ul li a{
    color: #2661c8;

}

table.fixed{
    table-layout: fixed;
    width: 100%;
}




@media only screen and (max-width: 780px){

   
    .footer h4{
        font-size: 2.5rem;
    }
    
    div.inset{
        margin-left: 0;
        background-color: #f8f8f8;
    }

    div.main_inset_left{
        width: 100%;
        float: left;
        position: relative;
        background-color: #efefef;
    }
    
    div.main_inset_right{
        width: 100%;
        float: right;
        position: relative;
        text-align: center;
    }


}

@media (max-height: 1000px){
    
    .footer{
        position: relative;
    }

}

@media (max-width: 790px){
    
    .footer{
        position: relative;
    }

}
