/* General
-------- */

body {
    font-size: 1.4em;
}

p {
    margin-top: 4px;
    margin-bottom: 0px;
}


/* Bootstrap overrides
-------- */

.container-fluid {
    padding: 0px;
}

.row {
    margin: 0px;
}


/* Header
-------- */

.header {
    z-index: 1000;
    width:100%;
    position: fixed;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.header h1 {
    font-size: 2em;
    color: black;
    text-align: right;
}

.header h3 {
    color: black;
    text-align: right;
}

.header a:hover {
    text-decoration: none;
}


/* Body
-------- */
html {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

.thumbnail {
    color: black;
}

.main-body {
    padding-top: 100px;
    padding-bottom: 200px;
}

.mobile-space {
    padding-bottom: 485px;
}

.profile {
    font-size: .8em;
    height: 380px;
    max-width: 180px;
    border: 0px;
}

.profile img {
    width: 172px;
    height: 230px;
}

.program {
    font-size: 1.4em;
    list-style: none;
    margin-top: 10px;
    padding: 4px;
    color: black;
    background-color: white;
    border: 0px;
    border-bottom: 2px solid black;
    border-radius: 0px;
}

.program:hover {
    background-color: #2661c8;
    color: white;
    border-bottom: 2px solid #2661c8;
    cursor: pointer;
}

.program-type {
    font-size: 1.2em;
    list-style: none;
    margin-top: 10px;
    padding: 8px;
    padding-left: 16px;
    color: black;
    background-color: white;
    border: 0px;
    border-radius: 0px;
}
.program-type:hover {
    background-color: #2661c8;
    color: white;
    cursor: pointer;
}

.selection {
    font-size: 1em;
    padding: 6px;
    padding-left: 24px;
    border-radius: 5px;
}

.selection:hover {
    background-color: #2661c8;
    color: white;
    cursor: pointer;
}

#popup {
    width: 100vw;
    height: 100vh;
    display: none;
}

#large-image {
    display: block;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.fsp-close {
    font-size: 5em;
    line-height: 0;
    right: 1em !important;
    top: 1em !important;
}
@font-face{
	font-family: Proxima Nova ExtraBold;
	src: url('file css/proximanova-extrabold.otf');
	font-weight: normal;
    font-style: normal;
}

/* Footer
-------- */

.footer {
    width: 100%;
    background-color: #DCDCDC;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-absolute {
    width: 100%;
    background-color: #efefef;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer .footer-right {
    height: 200px;
    background-color: #E2E2E2;
    padding-top: 60px;
    text-align: center;
}

.footer1 {
    margin: 15px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    margin-top: 20px;
    padding-top: 10px;
    color: #315182;
}
.footer1 ul li a {
    color: #2661c8;
}

.footer2 ul li a {
    color: #2661c8;
}
.footer2 h3 a {
    font-size: 1vw;
    color: #2661c8;
    font-weight: bold;
    text-transform: uppercase;
}

table.fixed {
	table-layout:fixed;
	width: 100%;
}

td.footer{

}
