
@font-face{
	font-family: Proxima Nova ExtraBold;
	src: url('file css/proximanova-extrabold.otf');
	font-weight: normal;
    font-style: normal;
}

.style3 {
	font-family: Proxima Nova ExtraBold;
	text-align: left;
	font-size: 1.75rem;
	margin-left: 40px;
}

/* Used in login page only */
.style4{
	font-family: Proxima Nova ExtraBold;
	text-align: center;
	font-size: 3rem;
}

/* Changes cursor to pointer for selecting photos */
img.myImg{
	cursor: pointer;
}

img.login_img{
	margin-left: 20px;
	margin-top: 20px;
}

div.breadcrumb{
	background-color: #E4E7E7;
}

div.title{
	font-family: Proxima Nova ExtraBold;
	font-size: 3rem;
	text-align: center;
	color: #00396D;
}

div.photo_bg{
	background-color: AliceBlue; 
	width: auto
}

div.login_div{
	width: 90%;
	margin-left:50px;
}

div.second_div__style{
	margin-left: 10%;
}

div.program_table{
	width: 80%;
}

table.fixed {
	table-layout:fixed;
	overflow: auto;
	width: 100%;
}

td.tdclass{
	background-color: #DCDCDC;
	border: 0px solid black;
	border-radius: 15px 50px;
	min-width: 60px;
	max-width: 100%;
	overflow: hidden;
	border: 1px #DCDCDC;
}

td.tdclassnobg{
	font-family:  Proxima Nova ExtraBold;
	min-width: 100px;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	text-indent: 50px;
	font-size: 2.8rem;
}

td.home1{
	background-color: #DCDCDC;
	border-radius: 15px;
	min-width: 60px;
	max-width: 100%;
	overflow: hidden;
	border: 1px #DCDCDC;
	position: relative;
	z-index: 1;
}


td.home3{
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
	border: 2px #DCDCDC;
	z-index: 1;
	position: relative;
	text-align: center;
	margin-left: 10%;
	width: 100%;
}

#table__full{
	display: block;
}

#table__mobile{
	display: none;

}

td.home1 div{
	font-size: 2.25vw;
}

input.dropdown { 
	background-image: url("/sites/default/files/icons/arrow.png");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
  }


@media only screen and (max-width: 760px){



	td.home3{
		border-radius: 15px;
		margin-top: 15px;
		margin-left: 5%;
		overflow: hidden;
		z-index: 1;
		position: relative;
		width: 100%;
	}

	td.tdclassnobg{
		font-family:  Proxima Nova ExtraBold;
		min-width: 100px;
		max-width: 100%;
		overflow: hidden;
		text-align: left;
		text-indent: 0;
		font-size: 2.2rem;
	}

	#table__full{
		display: none;
	}

	#table__mobile{
		display: block;

	}

	div.login_div{
		width: 90%;
		margin-left:25px;
	}

	div.photo_bg{
		background-color: white; 
		width: auto
	}

	img.login_img{
		margin-left: 33%;
	}

	div.mobile_name_center{
		margin-left: 20%;
	}

	div.second_div__style{
		margin-left: 0;
	}

	div.program_table{
		width: 100%;
	}

	p.course_selection_statements{
		text-align: center;
	}
}

@media (min-height: 1000px){
    
    .main{
        min-height: 100vh;
    }

}
