.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.fieldgroup{border-width:0;padding:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:16px;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:0.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle;}.system-status-counter__status-icon:before{content:"";background-size:16px;background-position:center 2px;background-repeat:no-repeat;width:100%;height:100%;display:block;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);margin-bottom:0.5em;}@media screen and (min-width:60em){.system-status-report-counters{flex-wrap:wrap;display:flex;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{border:1px solid #ccc;margin-top:1em;padding:0 1em 1em;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.footer{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;width:100%;background-color:#efefef;position:relative;bottom:0;right:0;left:0;position:absolute;}#footer_values{text-align:left;padding-left:20%;}.footer_values{text-align:left;margin-left:30%;}.footer h4 a{color:#2661c8;font-size:1vw;text-transform:uppercase;margin:30px;}div.main_inset_left{width:75%;float:left;position:relative;background-color:#efefef;}div.main_inset_right{width:25%;float:right;position:relative;}div.inset{margin-left:30%;background-color:#DCDCDC;}div .footer-left{background-color:#DCDCDC;}ul li a{color:#2661c8;}table.fixed{table-layout:fixed;width:100%;}@media only screen and (max-width:780px){.footer h4{font-size:2.5rem;}div.inset{margin-left:0;background-color:#f8f8f8;}div.main_inset_left{width:100%;float:left;position:relative;background-color:#efefef;}div.main_inset_right{width:100%;float:right;position:relative;text-align:center;}}@media (max-height:1000px){.footer{position:relative;}}
.loader{display:none;position:relative;width:75px;height:100px;}.loader__bar{display:inherit;position:absolute;bottom:0;width:10px;height:50%;background:#fff;transform-origin:center bottom;box-shadow:1px 1px 0 rgba(0,0,0,0.2);}.loader__bar:nth-child(1){left:0px;transform:scale(1,0.2);animation:barUp1 4s infinite;}.loader__bar:nth-child(2){left:15px;transform:scale(1,0.4);animation:barUp2 4s infinite;}.loader__bar:nth-child(3){left:30px;transform:scale(1,0.6);animation:barUp3 4s infinite;}.loader__bar:nth-child(4){left:45px;transform:scale(1,0.8);animation:barUp4 4s infinite;}.loader__bar:nth-child(5){left:60px;transform:scale(1,1);animation:barUp5 4s infinite;}.loader__ball{display:inherit;position:absolute;bottom:10px;left:0;width:10px;height:10px;background:#fff;border-radius:50%;animation:ball 4s infinite;}@keyframes ball{0%{transform:translate(0,0);}5%{transform:translate(8px,-14px);}10%{transform:translate(15px,-10px);}17%{transform:translate(23px,-24px);}20%{transform:translate(30px,-20px);}27%{transform:translate(38px,-34px);}30%{transform:translate(45px,-30px);}37%{transform:translate(53px,-44px);}40%{transform:translate(60px,-40px);}50%{transform:translate(60px,0);}57%{transform:translate(53px,-14px);}60%{transform:translate(45px,-10px);}67%{transform:translate(37px,-24px);}70%{transform:translate(30px,-20px);}77%{transform:translate(22px,-34px);}80%{transform:translate(15px,-30px);}87%{transform:translate(7px,-44px);}90%{transform:translate(0,-40px);}100%{transform:translate(0,0);}}@keyframes barUp1{0%{transform:scale(1,0.2);}40%{transform:scale(1,0.2);}50%{transform:scale(1,1);}90%{transform:scale(1,1);}100%{transform:scale(1,0.2);}}@keyframes barUp2{0%{transform:scale(1,0.4);}40%{transform:scale(1,0.4);}50%{transform:scale(1,0.8);}90%{transform:scale(1,0.8);}100%{transform:scale(1,0.4);}}@keyframes barUp3{0%{transform:scale(1,0.6);}100%{transform:scale(1,0.6);}}@keyframes barUp4{0%{transform:scale(1,0.8);}40%{transform:scale(1,0.8);}50%{transform:scale(1,0.4);}90%{transform:scale(1,0.4);}100%{transform:scale(1,0.8);}}@keyframes barUp5{0%{transform:scale(1,1);}40%{transform:scale(1,1);}50%{transform:scale(1,0.2);}90%{transform:scale(1,0.2);}100%{transform:scale(1,1);}}
@font-face{font-family:Proxima Nova ExtraBold;src:url(/modules/photo_roster/css/file%20css/proximanova-extrabold.otf);font-weight:normal;font-style:normal;}.style3{font-family:Proxima Nova ExtraBold;text-align:left;font-size:1.75rem;margin-left:40px;}.style4{font-family:Proxima Nova ExtraBold;text-align:center;font-size:3rem;}img.myImg{cursor:pointer;}img.login_img{margin-left:20px;margin-top:20px;}div.breadcrumb{background-color:#E4E7E7;}div.title{font-family:Proxima Nova ExtraBold;font-size:3rem;text-align:center;color:#00396D;}div.photo_bg{background-color:AliceBlue;width:auto}div.login_div{width:90%;margin-left:50px;}div.second_div__style{margin-left:10%;}div.program_table{width:80%;}table.fixed{table-layout:fixed;overflow:auto;width:100%;}td.tdclass{background-color:#DCDCDC;border:0px solid black;border-radius:15px 50px;min-width:60px;max-width:100%;overflow:hidden;border:1px #DCDCDC;}td.tdclassnobg{font-family:Proxima Nova ExtraBold;min-width:100px;max-width:100%;overflow:hidden;text-align:left;text-indent:50px;font-size:2.8rem;}td.home1{background-color:#DCDCDC;border-radius:15px;min-width:60px;max-width:100%;overflow:hidden;border:1px #DCDCDC;position:relative;z-index:1;}td.home3{background-color:white;border-radius:15px;overflow:hidden;border:2px #DCDCDC;z-index:1;position:relative;text-align:center;margin-left:10%;width:100%;}#table__full{display:block;}#table__mobile{display:none;}td.home1 div{font-size:2.25vw;}input.dropdown{background-image:url("/sites/default/files/icons/arrow.png");background-position:right top;background-repeat:no-repeat;background-size:contain;}@media only screen and (max-width:780px){td.home3{border-radius:15px;margin-top:15px;margin-left:5%;overflow:hidden;z-index:1;position:relative;width:100%;}td.tdclassnobg{font-family:Proxima Nova ExtraBold;min-width:100px;max-width:100%;overflow:hidden;text-align:left;text-indent:0;font-size:2.2rem;}#table__full{display:none;}#table__mobile{display:block;}div.login_div{width:90%;margin-left:25px;}div.photo_bg{background-color:white;width:auto}img.login_img{margin-left:33%;}div.mobile_name_center{margin-left:20%;}div.second_div__style{margin-left:0;}div.program_table{width:100%;}p.course_selection_statements{text-align:center;}}@media (min-height:1000px){.main{min-height:100vh;}}
#datalist{position:relative;display:flex;align-items:flex-start;width:300px;}#datalist input{width:100%;margin:0;padding:0;}#datalist ul{display:none;position:absolute;font-family:Arial,Helvetica,sans-serif;font-size:80%;width:calc(100% - 4px);width:100%;margin:0;padding:0;background-color:#282828;color:#ffffff;border-radius:3px;margin:1.6em 0 2px 0;}#datalist ul li{display:none;padding:.7em;user-select:none;}#datalist ul li:hover,#datalist ul li:active,#datalist ul li:focus{background-color:rgba(255,255,255,.2);}#submit{margin-left:.5em;}
