.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.fieldgroup{border-width:0;padding:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:16px;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:0.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle;}.system-status-counter__status-icon:before{content:"";background-size:16px;background-position:center 2px;background-repeat:no-repeat;width:100%;height:100%;display:block;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);margin-bottom:0.5em;}@media screen and (min-width:60em){.system-status-report-counters{flex-wrap:wrap;display:flex;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{border:1px solid #ccc;margin-top:1em;padding:0 1em 1em;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.footer{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;width:100%;background-color:#efefef;position:relative;bottom:0;right:0;left:0;}.footer2 ul li a{color:#2661c8;}.footer2 div.inset{margin-left:30%;}.footer h4 a{color:#2661c8;font-size:1vw;text-transform:uppercase;margin:30px;}div .footer-left{background-color:#DCDCDC;}.footer1{margin:15px;background-color:#f8f8f8;border:1px solid #cccccc;margin-top:20px;padding-top:10px;color:#315182;}.footer1 ul li a{color:#2661c8;}.footer table.fixed{table-layout:fixed;width:100%;}.footer td{}
.loader{display:none;position:relative;width:75px;height:100px;}.loader__bar{display:inherit;position:absolute;bottom:0;width:10px;height:50%;background:#fff;transform-origin:center bottom;box-shadow:1px 1px 0 rgba(0,0,0,0.2);}.loader__bar:nth-child(1){left:0px;transform:scale(1,0.2);animation:barUp1 4s infinite;}.loader__bar:nth-child(2){left:15px;transform:scale(1,0.4);animation:barUp2 4s infinite;}.loader__bar:nth-child(3){left:30px;transform:scale(1,0.6);animation:barUp3 4s infinite;}.loader__bar:nth-child(4){left:45px;transform:scale(1,0.8);animation:barUp4 4s infinite;}.loader__bar:nth-child(5){left:60px;transform:scale(1,1);animation:barUp5 4s infinite;}.loader__ball{display:inherit;position:absolute;bottom:10px;left:0;width:10px;height:10px;background:#fff;border-radius:50%;animation:ball 4s infinite;}@keyframes ball{0%{transform:translate(0,0);}5%{transform:translate(8px,-14px);}10%{transform:translate(15px,-10px);}17%{transform:translate(23px,-24px);}20%{transform:translate(30px,-20px);}27%{transform:translate(38px,-34px);}30%{transform:translate(45px,-30px);}37%{transform:translate(53px,-44px);}40%{transform:translate(60px,-40px);}50%{transform:translate(60px,0);}57%{transform:translate(53px,-14px);}60%{transform:translate(45px,-10px);}67%{transform:translate(37px,-24px);}70%{transform:translate(30px,-20px);}77%{transform:translate(22px,-34px);}80%{transform:translate(15px,-30px);}87%{transform:translate(7px,-44px);}90%{transform:translate(0,-40px);}100%{transform:translate(0,0);}}@keyframes barUp1{0%{transform:scale(1,0.2);}40%{transform:scale(1,0.2);}50%{transform:scale(1,1);}90%{transform:scale(1,1);}100%{transform:scale(1,0.2);}}@keyframes barUp2{0%{transform:scale(1,0.4);}40%{transform:scale(1,0.4);}50%{transform:scale(1,0.8);}90%{transform:scale(1,0.8);}100%{transform:scale(1,0.4);}}@keyframes barUp3{0%{transform:scale(1,0.6);}100%{transform:scale(1,0.6);}}@keyframes barUp4{0%{transform:scale(1,0.8);}40%{transform:scale(1,0.8);}50%{transform:scale(1,0.4);}90%{transform:scale(1,0.4);}100%{transform:scale(1,0.8);}}@keyframes barUp5{0%{transform:scale(1,1);}40%{transform:scale(1,1);}50%{transform:scale(1,0.2);}90%{transform:scale(1,0.2);}100%{transform:scale(1,1);}}
@font-face{font-family:Proxima Nova ExtraBold;src:url(/modules/photo_roster/css/file%20css/proximanova-extrabold.otf);font-weight:normal;font-style:normal;}.style1{font-family:Proxima Nova ExtraBold;text-align:left;font-size:1em;text-indent:64px;}.style2{color:#808080;font-family:Proxima Nova ExtraBold;font-size:1.25em;text-align:left;}.style3{font-family:Proxima Nova ExtraBold;text-align:left;font-size:1.75vw;margin-left::40px;}.style4{font-family:Proxima Nova ExtraBold;text-align:right;font-size:2vw;margin-left::40px;}.search_area{border:none;}img.myImg{cursor:pointer;}.search{font-size:2vw;text-align:left;margin-left:100px;min-width:60px;max-width:100%;}.form{text-align:left;text-indent:64px;background-color:AliceBlue;font-size:1vw;min-width:60px;max-width:100%;}div.breadcrumb{background-color:#E4E7E7;}div.title{font-family:Proxima Nova ExtraBold;font-size:3vw;text-align:center;color:#00396D;}input.dropdown{background-size:30px;background-repeat:no-repeat;background-position:right;background:white url(/modules/photo_roster/css/arrow.png) right no-repeat;margin-right:17px;}input.dropdown disabled{background:darkGrey url(/modules/photo_roster/css/arrow.png) right no-repeat;margin-right:17px;}input.dropdown:hover{cursor:pointer;}input[type=text]{transition:.3s;}input[type=text]:focus{border-color:dodgerBlue;box-shadow:0 0 8px 0  dodgerBlue;}.inputWithIcon input[type=text]{padding-left:40px;}.inputWithIcon{position:relative;}.inputWithIcon i{position:absolute;left:0;top:8px;padding:9px 8px;color:#aaa}.inputWithIcon input[type=text]:focus + i{color:dodgerBlue;}table.fixed{table-layout:fixed;width:100%;}table.fixed_double{table-layout:fixed;width:75%;}td.tdclass{background-color:#DCDCDC;border:0px solid black;border-radius:15px 50px;min-width:60px;max-width:100%;overflow:hidden;border:1px #DCDCDC;}td.tdclassnobg{min-width:100px;max-width:100%;overflow:hidden;text-align:left;text-indent:50px;font-size:1.75vw;padding-right:30px;}td.home1{background-color:#DCDCDC;border-radius:15px;min-width:60px;max-width:100%;overflow:hidden;border:1px #DCDCDC;position:relative;z-index:1;}td.home1 div{font-size:2.25vw;}.indiv_search{table-layout:fixed;width:100%;background-color:#DCDCDC;border:0px solid black;border-radius:15px 50px;min-width:60px;max-width:100%;overflow:hidden;}.loader2{border:16px solid #f3f3f3;border-top:16px solid #3498db;border-radius:50%;width:120px;height:120px;animation:spin 2s linear infinite;display:none;position:absolute;margin-left:65px;margin-bottom:100px;z-index:20;}@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}#container2{width:960px;position:relative;margin:0 auto;line-height:1.4em;}@media only screen and (max-width:479px){#container2{width:90%;}td.home1{background-color:#DCDCDC;border-radius:15px;min-width:60px;max-width:100%;overflow:hidden;border:1px #DCDCDC;}td.home1 div{text-align:center;font-size:2.25vw;}}
#myImg{border-radius:5px;cursor:pointer;transition:0.3s;}#myImg:hover{opacity:0.7;}.modal{display:none;position:fixed;z-index:1;padding-top:100px;left:0;top:0;height:100%;overflow:auto;background-color:rgba(255,255,255,0.5);}.modal-content{margin:auto;display:block;width:80%;max-width:450px;background-color:rgba(0,0,0,0) desc !important;}#caption{margin:auto;display:block;width:80%;max-width:700px;text-align:center;color:#ccc;padding:10px 0;height:150px;}.modal-content,#caption{animation-name:zoom;animation-duration:0.6s;}@keyframes zoom{from{transform:scale(0)}to{transform:scale(1)}}.close{position:absolute;top:15px;right:35px;color:#f1f1f1;font-size:40px;font-weight:bold;transition:0.3s;}.close:hover,.close:focus{color:#bbb;text-decoration:none;cursor:pointer;}@media only screen and (max-width:700px){.modal-content{width:100%;}}
