{{ attach_library('photo_roster/home-display') }}
<section {{ attributes }}>
	<center><div class="title"> Welcome to the Administration Page</div></center>
	<table class="fixed">
		<tr>
			<td><button></button></td>
		</tr>
	</table>
</section
