{{ attach_library('photo_roster/home-display') }}
{# This event reloads the page on back button #}
<script>
	window.addEventListener( "pageshow", function ( event ) {
		var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
		if ( historyTraversal ) {
			// Handle page restore.
			window.location.reload();
		}
	});
	Window.onbeforeunload = function() {
	    (document.getElementById("loader")).style.display = "none";
	}

	$(window).load(function() {
			// Animate loader off screen
			$(".loader").fadeOut("slow");;
		});

	window.addEventListener("beforeunload", function(event) { console.log("Hello"); });
</script>
<section {{ attributes }}>
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">Welcome to Photo Roster Home Page</div>
	<div class="breadcrumb">Home</div>
	<div style="background-color: AliceBlue; width: auto">
		<br>
		<br>
		<center><div>
			<table class="fixed" style="width: 100%; border-spacing: 5px 5px disc !important">
				<tr>
					<td  class="home2" style="border: 2px solid AliceBlue;">
						<br>
						
							<div style="width: 50%, float: left;">
								<h4 style="text-align: left; margin: 0 0 0 25px; padding: 0"><a href="{{ path('photo_roster.student_search') }}"><u>Students</u></a></h4>
								<ul style="text-align: left; margin-left: 60px;">
									<li><a href="{{ path('photo_roster.program_search') }}">Program</a></li>
									<li><a href="{{ path('photo_roster.course_search') }}">Course</a></li>
									<li><a href="{{ path('photo_roster.student_indiv_connection') }}">Individual Student</a></li>
								</ul>
							</div>
							<div style="width: 50%; float: right;">
								<img style="margin-left: 60px; margin-top: 20px;" src="/sites/default/files/icons/CapRed2.png" height="80%"></img>
							</div>
					</td>
					<td class="home1" style="border: 2px solid AliceBlue;">
						<br>
						<h4 style="text-align: left; margin: 0 0 0 25px; padding: 0"><a href="{{ path('photo_roster.staff_search') }}" ><u>Staff</u></a><img style="margin-left: 100px; margin-top: 20px;" src="/sites/default/files/icons/OpenBook.png" height="80%"></img></h4>
						<ul style="text-align: left; margin-left: 60px;">
							<li><a href="{{ path('photo_roster.staff_all_search') }}">All Staff</a></li>
							<li><a href="{{ path('photo_roster.staff_indiv_search_form') }}">Individual Staff</a></li>
						</ul>
					</td>
					<td class="home1" style="border: 2px solid AliceBlue;">
						<br>
						<h4 style="text-align: left; margin: 0 0 0 25px; padding: 0"><a href="{{ path('photo_roster.faculty_search') }}"><u>Faculty</u></a><img style="margin-left: 80px; margin-top: 20px;" src="/sites/default/files/icons/Apple.png" height="80%"></img></h4>
						<ul style="text-align: left; margin-left: 60px;">
							<li><a href="{{ path('photo_roster.faculty_all_search') }}">All Faculty</a></li>
							<li><a href="{{ path('photo_roster.faculty_indiv_search_form') }}">Individual Faculty</a></li>
						</ul>
								
					</td>
				</tr>
			</table>
			<table table class="fixed" style="width: 100%; border-spacing: 5px 5px disc !important">
				<tr>
					<td class="home1" style="width: fixed; border: 2px solid AliceBlue">
					<br>
						<center>
							<a href="{{ path('photo_roster.simon_all_search') }}" ><img src="/sites/default/files/icons/Building.png" id="noloader" height="80%" onmouseup="loading()" visible></a></img>
							<div class="loader" id="loader">
								<div class="loader__bar"></div>
								<div class="loader__bar"></div>
								<div class="loader__bar"></div>
								<div class="loader__bar"></div>
								<div class="loader__bar"></div>
								<div class="loader__ball"></div>
							</div>
							<h4 onmouseup="loading()"><a href="{{ path('photo_roster.simon_all_search') }}" >Search All of Simon</h4>
						</center>{# Simon All #}
					</td>
				</tr>
			</table>
		</div></center>
		<br>
	</div>
</div>
	{% include '@simon_sass/base.html.twig' %}

</section>
