{{ attach_library('photo_roster/searchbar-functionality-all-browsers') }}
{# This event reloads the page on back button #}
<script>
	window.addEventListener( "pageshow", function ( event ) {
		var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
		if ( historyTraversal ) {
			// Handle page restore.
			document.getElementById("semesterForm").reset();
			document.getElementById("courseForm").reset();
			document.getElementById("sectionForm").reset();
		}
	});
</script>
<section {{ attributes}} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">Search by Course and Section</div>
	{% if (breadcrumb[2] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;>>&nbsp;{{ breadcrumb[2] }}</div>
	{% elseif (breadcrumb[2] == NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;>>&nbsp;{{ breadcrumb[1] }}</div>
	{% endif %}
	<br>
	&nbsp;
	<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to Home</button></a>
	<br>
	<br>
	<div style="width: auto">
		<br>
		<table style="width: 100%" style="border-spacing: 125px; border-collapse: seperate;">
			<tr>
				<th>
					<a href="{{ url('photo_roster.course_search') }}"><button class="btn btn-primary">Refresh Page</button></a>
					<br>
					<br>
				</th>
			</tr>
			<tr>
				<form id="semesterForm" method="post">
					<div class="autocomplete">
						<th>
							<br />
							<p class="course_selection_statements">Start by selecting the semester of your course:</p>
							<br />

							<input id="hidden_output" type="hidden" />
							<input id="input_term" class="dropdown" type="text" name="term" list="term_list" placeholder="Term" autofocus="true">
							<datalist id="term_list">
								{% for sem in semester %}
									<option id="{{ semester[loop.index0] }}" name="{{ semester[loop.index0]|replace({' ' : '%20'}) }}" class="{{ semester[loop.index0] }}" value="{{ semester[loop.index0] }}"></option>
								{% endfor %}
							</datalist>
							<br>
							<br>
							<br>
							<p class="course_selection_statements">Then select Your course number:</p>
							<br />
						</th>
					</div>
				</form>
			</tr>
			<tr>
				<form id="courseForm" method="post">
					<div class="autocomplete">
						<th>
							<!--<input type="hidden" id="input_term" type="text" name="term"  list="course_list" value="<?php echo $sel_term ?>" />-->
							<input id="input_course" class="dropdown" type="text" name="course" list="course_list" placeholder="Course Number" disabled="true"/>
							<datalist id="course_list">
							</datalist>
							<br>
							<br>
							<br>
							<p class="course_selection_statements">And then the section number:</p>
							<br>
						</th>
					</div>
				</form>
			</tr>
			<br />
			<tr>
				<form id="sectionForm" method="post">
					<div class="autocomplete">
						<th>
							<input id="input_section" class="dropdown" type="text" name="section" list="section_list" placeholder="Section Number" disabled="true"/>
							<datalist id="section_list">
							</datalist>
						</th>
					</div>
				</form>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
	<h1> &nbsp; </h1>
	{% include '@simon_sass/base.html.twig' %}
</div>
	<script type="text/javascript">
		document.getElementById("input_term").onchange = function() {refreshPage("input_term", "{{ semester|length }}", document.getElementById("input_term").value)};
		document.getElementById("input_course").onchange = function() {refreshPage("input_course")};
		document.getElementById("input_section").onchange = function() {refreshPage("input_section")};
	</script>
</section>
