{{ attach_library('photo_roster/searchbar-functionality') }}
<section {{ attributes }}>
<div id="datalist">
  <input type="text" id="input" autocomplete="off" tabindex="0"/>
  <ul>
    <li>Volvo</li>
    <li>Saab</li>
    <li>Opel</li>
    <li>Audi</li>
    <li>MINI</li>
    <li>Jeep</li>
    <li>Ford</li>
    <li>Aston Martin</li>
  </ul>
</div>

<input id="submit" type="submit" value="Clear" tabindex="0"/>
</section>
