{{ attach_library('photo_roster/form-display') }}
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">{{ pageTitle }}</div>
	{% if (breadcrumb[3] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[2] }}">
			{{ breadcrumb[2] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[3] }}</div>
	{% elseif (breadcrumb[2] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[2] }}</div>
	{% elseif (breadcrumb[2] == NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[1] }}</div>
	{% endif %}
	<br>
	&nbsp;
	<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to Home</button></a>
	<br>
	<br>
	<center>
	<div style="width: 80%">
		<br>
		{{ form }}
		<br>
	</div>
	</center>
</div>
	{% include '@simon_sass/base.html.twig' %}
</section>
