{{ attach_library('photo_roster/home-display') }}
{# This event reloads the page on back button #}
<script>
	window.addEventListener( "pageshow", function ( event ) {
		var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
		if ( historyTraversal ) {
			// Handle page restore.
			window.location.reload();
		}
	});
	Window.onbeforeunload = function() {
	    (document.getElementById("loader")).style.display = "none";
	}

	$(window).load(function() {
			// Animate loader off screen
			$(".loader").fadeOut("slow");;
		});

	window.addEventListener("beforeunload", function(event) { console.log("Hello"); });
</script>
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
        <div class="title">Welcome to Photo Roster Home Page</div>
        <div class="breadcrumb">Home</div>
        <br><br>
        <div style="width: 90%;">
            <table class="fixed" style="margin-left: 4%;">
                <tr>
                    <td class="home3" style="border: 2px solid #DCDCDC;">
                        <br><br>
                        <div style="width: 50%; float: left;">
                        <br>
                            <h4 style="text-align: left; margin: 0 0 0 25px; padding: 0"><a href="{{ path('photo_roster.student_search') }}"><u>Students</u></a></h4>
                            <ul style="text-align: left; padding-left: 35%">
                                <li><a href="{{ path('photo_roster.program_search') }}">Program</a></li>
                                <li><a href="{{ path('photo_roster.course_search') }}">Course</a></li>
                                <li><a href="{{ path('photo_roster.student_indiv_connection') }}">Individual Student</a></li>
                            </ul>
                        </div>
                        <div style="width: 40%; float: right;">
                            <br>
                                <img src="/sites/default/files/icons/full/Cap.png" height="100rem"></img>
                            <br>
                            <br>
                        </div>
                        <br>
                        <br>
                    </td>
                    <td class="home3" style="border: 2px solid #DCDCDC;">
                        <br><br>
                        <div style="width: 50%; float: left;">
                            <br>
                            <h4 style="text-align: left; margin: 0 0 0 25px; padding: 0"><a href="{{ path('photo_roster.staff_search') }}" ><u>Staff</u></a></h4>
                            <ul style="text-align: left; margin-left: 35%;">
                                <li><a href="{{ path('photo_roster.staff_all_search') }}">All Staff</a></li>
                                <li><a href="{{ path('photo_roster.staff_indiv_search_form') }}">Individual Staff</a></li>
                            </ul>
                        </div>
                        <div style="width: 40%; float: right;">
                            <br>
                                <img src="/sites/default/files/icons/full/Staff.png" height="100rem"></img>
                            <br>
                            <br>
                        </div>
                        <br>
                        <br>

                    </td>
                    <td class="home3" style="border: 2px solid #DCDCDC;">
                        <br><br>
                        <div style="width: 50%; float: left;">
                            <br>
                            <h4 style="text-align: left; margin: 0 0 0 25px; padding: 0"><a href="{{ path('photo_roster.faculty_search') }}"><u>Faculty</u></a></h4>
                            <ul style="text-align: left; margin-left: 35%;">
                                <li><a href="{{ path('photo_roster.faculty_all_search') }}">All Faculty</a></li>
                                <li><a href="{{ path('photo_roster.faculty_indiv_search_form') }}">Individual Faculty</a></li>
                            </ul>
                        </div>
                        <div style="width: 40%; float: right;">
                            <br>
                                <img src="/sites/default/files/icons/full/Apple.png" height="100rem"></img>
                            <br>
                            <br>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>
                <tr>
                    <div id="table__full">
                        <td  class="home3" style="border: 2px solid #DCDCDC;" colspan="3">
                        <br>
                            <center>
                                <a href="{{ path('photo_roster.simon_all_search') }}"  onmouseup="loading()"><img src="/sites/default/files/icons/full/Building.png" id="noloader" height="100rem" onmouseup="loading()" visible></a></img>
                                <div class="loader" id="loader" style="width: 10%; border: 5px solid #DCDCDC; background-color: #808080;">
                                <center>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__ball" style="margin-left: 25px"></div>
                                    <div>Loading ... </div>
                                    </center>
                                </div>
                                <h4 onmouseup="loading()"><a href="{{ path('photo_roster.simon_all_search') }}" >Search All of Simon</h4>
                            </center>{# Simon All #}
                        </td>
                    </div>
                    <div id="table__mobile">
                        <td  class="home3" style="width 100rem; border: 2px solid #DCDCDC; display: none" colspan="1">
                        <br>
                            <center>
                                <a href="{{ path('photo_roster.simon_all_search') }}"  onmouseup="loading()"><img src="/sites/default/files/icons/full/Building.png" id="noloader" height="100rem" onmouseup="loading()" visible></a></img>
                                <div class="loaderr" id="loaderr" style="width: 100rem; border: 5px solid #DCDCDC; background-color: #808080;">
                                <center>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__bar" style="margin-left: 25px"></div>
                                    <div class="loader__ball" style="margin-left: 25px"></div>
                                    <div>Loading ... </div>
                                    </center>
                                </div>
                                <center><h4 onmouseup="loading()"><a href="{{ path('photo_roster.simon_all_search') }}" >Search All of Simon</h4></center>
                            </center>{# Simon All #}
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <section>
	{% include '@simon_sass/base.html.twig' %}
    </section>
</section>