{{ attach_library('photo_roster/jQuery-library') }}

<section {{ attributes }}>

	<div style="color: {{ color }};">Hello, Welcome to my jQuery Test Files</div>


	<div id="slideUpDiv" style="background-color: {{ color }};">
		<br /><br /><br /><br /><br /><br />
	</div>
	<button id="okButton">OK</button>


<script>
	document.getElementById("okButton").onclick = function() {initialize();};

</script>

</section>
