{{ attach_library('photo_roster/home-display') }}
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div>
		<div class="title">Welcome to Photo Roster</div>
		<div style="width: auto;">
			<h4>{{ error }}</h4>
			<div class="login_div">
				<table style="width: 100%">
					<tr>
						<td class="home1">
							<br>
							<div style="width: 85%; text-align: left; margin-left: 20px;">{{ form }}</div>
							<br>
						</td>
						<td>
							<div class="style4" style="text-align: center;">Simon Photo Roster Login</div>
							<img class="login_img" src="/sites/default/files/icons/full/OpenBook.png" height="175px"></img>
							<br>
						</td>
					</tr>
				</table>

			</div>
			<br>
			<br>
		</div>
		<br>
		<div style="bottom: 0;">
	{% include '@simon_sass/base.html.twig' %}
	</div>
	</div>
</section>
	
