{{ attach_library('photo_roster/home-display') }}
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
    <br>
    <br>
    <br>
    <div class="title">You have been logged out!</div>
    <br>
    <center><button class="btn btn-primary" onmouseup="login()">Log In</button></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	{% include '@simon_sass/base.html.twig' %}
</section>