<section {{ attributes }} class="main">


	{% include '@simon_sass/header.html.twig' %}
<div style="height: 60vh">
    <div style="width: 80%; text-align: center; margin: auto; height: 100%">
        <h3>Sorry but this functionality isn't supported on this platform yet.<br>
            Please use either Firefox or Google Chrome on a non-mobile device to access this feature.</h3>

        <button onclick="goBack()">Back</button>
    </div>
    <div id="footer" style="bottom: 0; position: relative;">
	{% include '@simon_sass/base.html.twig' %}
    </div>
</div>
    <script>
        function goBack(){
            window.history.back();
        }
        
    </script>
    
</section>
