{{ attach_library('photo_roster/large-image-display') }}
<section {{ attributes }} class="main">
{% include '@simon_sass/header.html.twig' %}
<div style="width: 80%; margin: 0 auto;">
	{% if not selected_program == null %}
		<div class="title">{{ selected_program }} Class of {{ graduating_year }}</div><br />
	{% endif %}
	{% if not selected_term == null %}
		<center><h3>{{ selected_term|replace("_", " ") }}<br> Course: {{ selected_course }} Section: {{ selected_section }}</h3></center><br />
	{% endif %}
	&nbsp;

	{% if (breadcrumb[4] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[2] }}">
			{{ breadcrumb[2] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[3] }}">{{ breadcrumb[3] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[4] }}</div>
	{% elseif (breadcrumb[3] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[2] }}">
			{{ breadcrumb[2] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[3] }}</div>
	{% elseif (breadcrumb[2] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[2] }}</div>
	{% elseif (breadcrumb[1] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[1] }}</div>
	{% endif %}
	{% if (value == 'staff' or value == 'faculty' or value == 'all') %}

		<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to search</button></a>
	{% elseif (value == 'course')%}
		<a href="{{ url('photo_roster.course_search') }}"><button class="btn btn-primary">Back to search</button></a>
	{% elseif (value == 'program')%}
		<a href="{{ url('photo_roster.program_search') }}"><button class="btn btn-primary">Back to search</button></a>
	{% endif %}
	{% if (value == 'all')%}
			<a href="{{ url('photo_roster.simon_all_pdf') }}"><button class="btn btn-primary">Download as PDF</button></a>

	{% else %}
			<a href="{{ url('photo_roster.pdf') }}"><button class="btn btn-primary">Download as PDF</button></a>
	{% endif %}

<div id="status">0 | 0</div>

	<br>
	<br>
	
<div class="photo_bg" id="wrap">
		<br>
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- The Close Button -->
			<span class="close">&times;</span>

			<!-- Modal Content (The Image) -->
			<img class="modal-content" id="img01">

			<div class="modal-content">
				<button class="btn btn-primary" id="download-image-button">Download</button>&nbsp;<button class="btn btn-primary" id="closeButton">Close</button>
			</div>
		</div>
		<table class="fixed" style="width: 100%;">
			<tr>
				{% for fname in first_name %}
					<td>
						{# Photo Image #}
						{% if not photo_image[loop.index0] == NULL %}
						<br>
						<center><img alt="Broken Photo Link" onerror=this.src="/sites/default/files/rochester.png"  onClick="selectPhoto({{ uid[loop.index0] }}, {{loop.index0}})" class="myImg" id="myImg{{loop.index0}}" data="data:image/jpg;base64,{{ large_photo_image[loop.index0] }}" src="data:image/jpg;base64,{{ photo_image[loop.index0] }}" height="200" ></center>
						{% else %}
						<br>
						<center><img border="3" alt="" src="{{ url('<front>')|render ~ file_url('/sites/default/files/rochester.png') }}" height="200"></center>
						{% endif %}
						<center>
							<table class="fixed">
								<tr>
									<td>
										{# Preferred/First Name Last Name #}
										{% if (not preferred_name[loop.index0] == NULL) and (not preferred_name[loop.index0] == ' ') %}
										{% if (preferred_name|length > 10) %}
										<center>{{ preferred_name[loop.index0] }}&nbsp;{{ last_name[loop.index0] }}</center>
										{% else %}
										<center>{{ preferred_name[loop.index0] }}&nbsp;{{ last_name[loop.index0] }}</center>
										{% endif %}
										{% else %}
										{% if (first_name|length > 10) %}
										<center>{{ first_name[loop.index0] }}&nbsp;{{ last_name[loop.index0] }}</center>
										{% elseif (first_name|length <= 10) %}
										<center>{{ preferred_name[loop.index0] }}&nbsp;{{ last_name[loop.index0] }}</center>
										{% endif %}
										{% endif %}

										{# Country of Origin #}
										{% if not country[loop.index0] == NULL %}
										<center>{{ country[loop.index0] }}</center>
										{% else %}
										<center><br/></center>
										{% endif %}

										{% if selected_program == null %}
										{# Program of Study #}
										{% if not program[loop.index] == NULL %}
										<center>{{ program[loop.index0] }}</center>
										<br />
										{% else %}
										<center><br /></center>
										{% endif %}
										{% endif %}
									</td>
								</tr>
							</table>
						</center>
					</td>
					{% if (loop.index % 5 == 0) and (not loop.last) %}
				</tr><tr style="border: 1px;">
				{% endif %}
			{% endfor %}
			</tr>
		</table>
		<br />
	</div>
	
	{# <div id="wrap">
	</div> #}
</div>

	{% include '@simon_sass/base.html.twig' %}
	<script>
		//================Download Large Image as JPEG==============================================
		document.getElementById('download-image-button').onclick = function(){downloadLargeImage();};
		window.onscroll = function(){yHandler();};
	</script>
</section>
