{{ attach_library('photo_roster/home-display') }}
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">{{ pageTitle }}</div>

	{% if (breadcrumb[3] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[2] }}">
			{{ breadcrumb[2] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[3] }}</div>
	{% elseif (breadcrumb[2] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[2] }}</div>
	{% elseif (breadcrumb[2] == NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[1] }}</div>
	{% endif %}
	<br>
	&nbsp;
	<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to Home</button></a><p>Please select program of choice:</p>
	<center>
	<div class="program_table" style="overflow: scroll;">
		<center>
			<table style="overflow: scroll;">
				<tr>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[1] }}">{{ title[1] }}</a></td>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[0] }}">{{ title[0] }}</a></td>
				</tr>
				<tr>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[2] }}">{{ title[2] }}</a></td>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[8] }}">{{ title[8] }}</a></td>
				</tr>
				<tr>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[3] }}">{{ title[3] }}</a></td>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[7] }}">{{ title[7] }}</a></td>
				</tr>
				<tr>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[4] }}">{{ title[4] }}</a></td>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[6] }}">{{ title[6] }}</a></td>
				</tr>
				<tr>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[9] }}">{{ title[9] }}</a></td>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[10] }}">{{ title[10] }}</a></td>
				</tr>
				<tr>
					<td class="tdclassnobg" style="min-width: 500px;">&nbsp;</td>
					<td class="tdclassnobg" style="min-width: 500px;"><a href="{{ url[11] }}">{{ title[11] }}</a></td>
				</tr>
			</table>
		</center>
	</div>
	</center>
</div>
	{% include '@simon_sass/base.html.twig' %}
</section>
