{{ attach_library('photo_roster/home-display') }}
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">{{ pageTitle }}</div>
	{% if (breadcrumb[2] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[2] }}</div>
	{% elseif (breadcrumb[2] == NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[1] }}</div>
	{% endif %}
	<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to Home</button></a>
	<div style="width: 100%">
	<center>
		<div style="width: 80%">
			<br>
			<br>
			<center>
				<table class="fixed">
					<tr>
						{% if (value == 'staff') %}
						<td class="home3" style="border: 2px solid #DCDCDC;">
							<center>
								<a href="{{ url('photo_roster.staff_all_search') }}">
								<br>
								<img src="/sites/default/files/icons/full/All.png" height="100rem" max-width="100%"></img>
								<br>
								<div class="title">All Staff</div>
								<br>
								<br>
								</a>
							</center>
						</td>
						<td class="home3" style="border: 2px solid #DCDCDC;">
							<br>
							<center>
								<a href ="{{ url('photo_roster.staff_indiv_search_form') }}">
								<img src="/sites/default/files/icons/full/Individual.png" height="100rem" max-width="100%"></img>
								<br>
								<div class="title">Individual Staff Search</div>
								<br>
								<br>
								</a>
							</center>
						</td>
						{% elseif (value == 'faculty') %}
						<td class="home3" style="border: 2px solid #DCDCDC;">
							<a href="{{ url('photo_roster.faculty_all_search') }}">
							<br>
							<img src="/sites/default/files/icons/full/All.png" height="100rem" max-width="100%"></img>
							<br>
							<div class="title">All Faculty</div>
							<br>
							<br>
							</a>
						</td>
						<td class="home3" style="border: 2px solid #DCDCDC;">
							<br>
							<a href ="{{ url('photo_roster.faculty_indiv_search_form') }}">
							<img src="/sites/default/files/icons/full/Individual.png" height="100rem" max-width="100%"></img>
							<br>
							<div class="title">Individual Faculty Search</div>
							<br>
							<br>
							</a>
						</td>
						{% endif %}
					</tr>
				</table>
			</center>
			<br>
			<br>
		</div>
		</center>
	</div>
</div>
	{% include '@simon_sass/base.html.twig' %}
</section>
