{{ attach_library('photo_roster/home-display') }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">{{ pageTitle }}</div>
	<br>
	<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp; Student Search</div>
	<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to Home</button></a>
	<div style="width: 100%">
		<div class="second_div__style" style="width: 80%">
			<center>
				<br>
				<table class="fixed">
					<tr>
						<td class="home3" style="width: 25rem; border: 2px solid #DCDCDC;">
							<br>
							<a href="{{ url('photo_roster.program_search') }}">
							<img src="/sites/default/files/icons/full/Program.png" height="100rem" max-width="100%"></img>
							<br>
							<div class="title">Program Search</div>
							</a>
							<br><br>
						</td>
						<td class="home3" style="width: 25rem; border: 2px solid #DCDCDC;">
							<br>
							<a href ="{{ url('photo_roster.course_search') }}">
							<img src="/sites/default/files/icons/full/Course.png" height="100rem"></img>
							<br>
							<div class="title">Course Search</div>
							</a>
							<br><br>
						</td>
						<td class="home3" style="width: 25rem; border: 2px solid #DCDCDC;">
							<br>
							<a href ="{{ url('photo_roster.student_indiv_connection') }}">
							<img src="/sites/default/files/icons/full/Individual.png" height="100rem"></img>
							<br>
							<div class="title">Individual Search</div>
							</a>
							<br><br>
						</td>
					</tr>
				</table>
			</center>
			<br>
			<br>
		</div>
	</div>
</div>
	{% include '@simon_sass/base.html.twig' %}
</section>
