{{ attach_library('photo_roster/large-image-display') }}
<section {{ attributes }} class="main">
	{% include '@simon_sass/header.html.twig' %}
	<div style="width: 80%; margin: 0 auto;">
	<div class="title">Individual Search Results</div>
	{% if (breadcrumb[3] != NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;
			<a href="{{ urlVal[2] }}">{{ breadcrumb[2] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[3] }}</div>
	{% elseif (breadcrumb[3] == NULL) %}
		<div class="breadcrumb"><a href="{{ urlVal[0] }}">{{ breadcrumb[0] }}</a>&nbsp;&nbsp;>>&nbsp;<a href="{{ urlVal[1] }}">{{ breadcrumb[1] }}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;{{ breadcrumb[2] }}</div>
	{% endif %}
	<br>
	&nbsp;
	<a href="{{ url('photo_roster.homepage') }}"><button class="btn btn-primary">Back to Home</button></a>
	{% if (value == 'student') %}
		<a href="{{ url('photo_roster.student_indiv_connection') }}"><button class="btn btn-primary">Back to search</button></a>
	{% elseif (value == 'staff')%}
		<a href="{{ url('photo_roster.staff_indiv_search_form') }}"><button class="btn btn-primary">Back to search</button></a>
	{% elseif (value == 'faculty')%}
		<a href="{{ url('photo_roster.faculty_indiv_search_form') }}"><button class="btn btn-primary">Back to search</button></a>
	{% endif %}
	<br>
	<br>
	<div class="photo_bg">
		<br>
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- The Close Button -->
			<span class="close">&times;</span>

			<!-- Modal Content (The Image) -->
			<img class="modal-content-local" id="img01">

			<div class="modal-content-local">
				<button class="btn btn-primary" id="download-image-button">Download</button>&nbsp;<button class="btn btn-primary" id="closeButton">Close</button>
			</div>
		</div>
		<table style="width: 100%;">
			<tr>
				{% for fname in first_name %}
					<td>
						{# Photo Image #}
						{% if not photo_image[loop.index0] == NULL %}
							<center><img alt="Broken Photo Link" onerror=this.src="/sites/default/files/rochester.png" onClick="selectPhoto({{ uid[loop.index0] }}, {{loop.index0}})" class="myImg" id="myImg{{loop.index0}}" data="data:image/jpg;base64,{{ large_photo_image[loop.index0] }}" src="data:image/jpg;base64,{{ photo_image[loop.index0] }}" height="200" ></center>
						{% else %}
							<center><a href="" data-student="{{ uid[loop.index0] }}" data-popup="#popup"><img border="3" alt="" src="{{ url('<front>')|render ~ file_url('public://rochester.png') }}" height="200"></a></center>
						{% endif %}

						{# Preferred/First Name Last Name #}
						{% if (not preferred_name[loop.index0] == NULL) %}
							<center><div  class="mobile_name_center"><p>{{ preferred_name[loop.index0] }}&nbsp;{{ last_name[loop.index0] }}</p></div></center>
						{% else %}
							<center><div  class="mobile_name_center"><p>{{ first_name[loop.index0] }}&nbsp;{{ last_name[loop.index0] }}</p></div></center>
						{% endif %}
						{% if (not dept[loop.index0] == NULL) %}
							<center><div  class="mobile_name_center">{{ dept[loop.index0] }}</div><center>
						{% endif %}
						<br>
					</td>
					{% if (loop.index % 5 == 0) and (not loop.last) %}
						</tr><tr>
					{% endif %}
				{% endfor %}
			</tr>
		</table>
		<br>
		<br>
		<br>
	</div>
	<h1> &nbsp; </h1>
	{% include '@simon_sass/base.html.twig' %}
</div>
	<script>
		//================Download Large Image as JPEG==============================================
		document.getElementById('download-image-button').onclick = function(){downloadLargeImage();};
	</script>
</section>
